

<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block">
		<h1 class="heading-48">Diabetes and driving</h1>
		</div>
	</div>
    <div class="grid grid-1-3">
        <div class="inner-block">
        <nav class="popular-needs"><ul class="top-tasks">
<li><a href="/giving-up-your-driving-licence">Surrendering your driving licence</a></li>
 <li><a href="/health-conditions-and-driving">Health conditions and driving</a></li>
 <li><a href="/driving-medical-conditions">Medical conditions, disabilities and driving</a></li>
      </ul></nav>
        </div>
    </div>
</div>

<!-- GRID: TWO THIRDS / ONE THIRD -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block diabetes">
			<div class="summary">
				<p>You may need to tell <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr> about your diabetes, depending on how it’s treated and the licence you have.</p>
			</div>
		</div>
	</div>
</div>

<div class="grid-wrapper">
    <div class="grid">
        <div class="inner-block">
            <p class="line"></p>
</div>
</div>
</div>

<div class="grid-wrapper tell-dvla toppy">
	<div class="grid grid-1-3">
		<div class="inner-block">
		<h2 class="heading-24">Diabetes treated by diet</h2>
		</div>
	</div>

	<div class="grid grid-2-3">
		<div class="inner-block">
		<h2 class="heading-24">Car or motorcycle licence</h2>
		<p>You don’t need to tell DVLA unless your treatment changes to insulin or you don't feel safe when you drive.</p>
    <h2 class="heading-24">Bus, coach or lorry licence</h2>
        <p>You don’t need to tell DVLA unless your treatment changes to insulin or you don't feel safe when you drive.</p>
    </div>
</div>
</div>

<div class="grid-wrapper tell-dvla">
    <div class="grid grid-1-3">
        <div class="inner-block">
        <h2 class="heading-24">Diabetes treated by Sulphonylureas or Glinide tablets (or both)</h2>
        </div>
    </div>

    <div class="grid grid-2-3">
        <div class="inner-block">
        <h2 class="heading-24">Car or motorcycle licence</h2>
        <p>You don’t need to tell DVLA unless your treatment changes to insulin or you don't feel safe when you drive.</p>
    <h2 class="heading-24">Bus, coach or lorry licence</h2>
        <p class="notify">You must tell DVLA if you have diabetes. <a href"https://www.gov.uk/driving-medical-conditions">Tell DVLA</a> if this affects you or someone you know.</p>
    </div>
</div>
</div>

<div class="grid-wrapper tell-dvla">
    <div class="grid grid-1-3">
        <div class="inner-block">
        <h2 class="heading-24">Diabetes treated by any other tablets or non-insulin injections</h2>
        </div>
    </div>

    <div class="grid grid-2-3">
        <div class="inner-block">
        <h2 class="heading-24">Car or motorcycle licence</h2>
        <p>You don’t need to tell DVLA unless your treatment changes to insulin or you don't feel safe when you drive.</p>
    <h2 class="heading-24">Bus, coach or lorry licence</h2>
        <p class="notify">You must tell DVLA if you have diabetes. <a href"https://www.gov.uk/driving-medical-conditions">Tell DVLA</a> if this affects you or someone you know.</p>
    </div>
</div>
</div>

<div class="grid-wrapper tell-dvla">
    <div class="grid grid-1-3">
        <div class="inner-block">
        <h2 class="heading-24">Diabetes treated by insulin</h2>
        </div>
    </div>

    <div class="grid grid-2-3">
        <div class="inner-block">
        <h2 class="heading-24">Car or motorcycle licence</h2>
        <p class="notify">You must tell DVLA if you have diabetes. <a href"https://www.gov.uk/driving-medical-conditions">Tell DVLA</a> if this affects you or someone you know.</p>
    <h2 class="heading-24">Bus, coach or lorry licence</h2>
         <p class="notify">You must tell DVLA if you have diabetes. <a href"https://www.gov.uk/driving-medical-conditions">Tell DVLA</a> if this affects you or someone you know.</p>
    </div>
</div>
</div>

<!-- / GRID: QUARTERS -->