

<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block">
		<h1 class="heading-48">Diabetes and driving</h1>
		</div>
	</div>
    <div class="grid grid-1-3">
        <div class="inner-block">
        <nav class="popular-needs"><ul class="top-tasks">
<li><a href="/giving-up-your-driving-licence">Surrendering your driving licence</a></li>
 <li><a href="/health-conditions-and-driving">Health conditions and driving</a></li>
 <li><a href="/driving-medical-conditions">Medical conditions, disabilities and driving</a></li>
      </ul></nav>
        </div>
    </div>
</div>

<!-- GRID: TWO THIRDS / ONE THIRD -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block diabetes">
			<div class="summary">
				<p>You may need to tell <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr> about your diabetes, depending on how it’s treated and the licence you have.</p>
			</div>
		</div>
	</div>
</div>

<div class="grid-wrapper">
    <div class="grid">
        <div class="inner-block">
            <p class="line"></p>
</div>
</div>
</div>

<div class="grid-wrapper tell-dvla toppy">
	<div class="grid grid-1-3">
		<div class="inner-block">
		<h2 class="heading-24">Diabetes treated by diet</h2>
		</div>
	</div>

	<div class="grid grid-2-3">
		<div class="inner-block">
		<h2 class="heading-24">Car or motorcycle licence</h2>
		<p>You don’t need to tell DVLA unless your treatment changes to insulin or you don't feel safe when you drive.</p>
    <h2 class="heading-24">Bus, coach or lorry licence</h2>
        <p>You don’t need to tell DVLA unless your treatment changes to insulin or you don't feel safe when you drive.</p>
    </div>
</div>
</div>

<div class="grid-wrapper tell-dvla">
    <div class="grid grid-1-3">
        <div class="inner-block">
        <h2 class="heading-24">Diabetes treated by Sulphonylureas or Glinide tablets (or both)</h2>
        </div>
    </div>

    <div class="grid grid-2-3">
        <div class="inner-block">
        <h2 class="heading-24">Car or motorcycle licence</h2>
        <p>You don’t need to tell DVLA unless your treatment changes to insulin or you don't feel safe when you drive.</p>
    <h2 class="heading-24">Bus, coach or lorry licence</h2>
        <p class="notify">You must tell DVLA if you have diabetes. <a href"https://www.gov.uk/driving-medical-conditions">Tell DVLA</a> if this affects you or someone you know.</p>
    </div>
</div>
</div>

<div class="grid-wrapper tell-dvla">
    <div class="grid grid-1-3">
        <div class="inner-block">
        <h2 class="heading-24">Diabetes treated by any other tablets or non-insulin injections</h2>
        </div>
    </div>

    <div class="grid grid-2-3">
        <div class="inner-block">
        <h2 class="heading-24">Car or motorcycle licence</h2>
        <p>You don’t need to tell DVLA unless your treatment changes to insulin or you don't feel safe when you drive.</p>
    <h2 class="heading-24">Bus, coach or lorry licence</h2>
        <p class="notify">You must tell DVLA if you have diabetes. <a href"https://www.gov.uk/driving-medical-conditions">Tell DVLA</a> if this affects you or someone you know.</p>
    </div>
</div>
</div>

<div class="grid-wrapper tell-dvla">
    <div class="grid grid-1-3">
        <div class="inner-block">
        <h2 class="heading-24">Diabetes treated by insulin</h2>
        </div>
    </div>

    <div class="grid grid-2-3">
        <div class="inner-block">
        <h2 class="heading-24">Car or motorcycle licence</h2>
        <p class="notify">You must tell DVLA if you have diabetes. <a href"https://www.gov.uk/driving-medical-conditions">Tell DVLA</a> if this affects you or someone you know.</p>
    <h2 class="heading-24">Bus, coach or lorry licence</h2>
         <p class="notify">You must tell DVLA if you have diabetes. <a href"https://www.gov.uk/driving-medical-conditions">Tell DVLA</a> if this affects you or someone you know.</p>
    </div>
</div>
</div>

<!-- GRID: FULL WIDTH -->
<div class="grid-wrapper">
    <div class="grid">

        <form action="" class="form" id="passports" name="passports">
      
      <h2 class="heading-24">How is your diabetes treated?</h2>
      <fieldset>
        <div class="form-group form-radio passport-type">
           <label for="child" class="block-label">
            <input id="child" type="radio" name="adult_or_child" value="child">
            Diet
        </label>
       <label for="child" class="block-label">
            <input id="child" type="radio" name="adult_or_child" value="child">
            Tablets
        </label>
       <label for="child" class="block-label">
            <input id="child" type="radio" name="adult_or_child" value="child">
            Insulin injection
        </label>
         <label for="child" class="block-label">
            <input id="child" type="radio" name="adult_or_child" value="child">
            Insulin pump
        </label>
        <label for="child" class="block-label">
            <input id="child" type="radio" name="adult_or_child" value="child">
            Other non injectable
        </label>
        </div>
      </fieldset>

      <h2 class="heading-24">What type of licence do you have?</h2>
      <fieldset>
        <div class="form-group form-radio">
           <label for="child" class="block-label">
            <input id="child" type="radio" name="adult_or_child" value="child">
            I don't have a licence yet
        </label>
        <label for="child" class="block-label">
            <input id="child" type="radio" name="adult_or_child" value="child">
            Car or motorcycle licence
        </label>
        <label for="child" class="block-label">
            <input id="child" type="radio" name="adult_or_child" value="child">
            Bus, coach or lorry licence
        </label>
        </div>
      </fieldset>
    </form>

    <div id="hello1" class="hello" style="display: none;"><p>hi 1</p></div>
    <div id="hello2" class="hello" style="display: none;"><p>hi 2</p></div>

    <button id="continue2" type="button" class="medium button">Continue</button>

    
    </div>
</div>

<script src="jquery.fastLiveFilter.js"></script>
  <script>
    $( document ).ready(function() {
      $('#continue2').click(function() {
        $('.hello').hide();
        if($('input[name=adult_or_child]:checked').val() == 'adult'){
          $('#hello1').show();
        }
        if($('input[name=adult_or_child]:checked').val() == 'child'){
          $('#hello2').show();
        }
        return false;
      });
    });
  </script>

<!-- / GRID: QUARTERS -->