

<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block">
		<h1 class="heading-48">Diabetes and driving</h1>
		</div>
	</div>
    <div class="grid grid-1-3">
        <div class="inner-block">
        <nav class="popular-needs"><ul class="top-tasks">
<li><a href="/giving-up-your-driving-licence">Surrendering your driving licence</a></li>
 <li><a href="/health-conditions-and-driving">Health conditions and driving</a></li>
 <li><a href="/driving-medical-conditions">Medical conditions, disabilities and driving</a></li>
      </ul></nav>
        </div>
    </div>
</div>

<!-- GRID: TWO THIRDS / ONE THIRD -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block">
			<div>
				<p>You may need to tell <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr> about your diabetes, depending on how it’s treated and the licence you have.</p>
			</div>
		</div>
	</div>
</div>

<!-- GRID: FULL WIDTH -->
<div class="grid-wrapper">
    <div class="grid">
        <div class="inner-block">
            <form action="" class="form diabetes-form">
              <h2 class="heading-24">What do you treat your diabetes with?</h2>
              <fieldset>
                <div class="form-group form-radio passport-type">
                   <label for="diet" class="block-label">
                    <input id="diet" type="radio" name="treated" value="diet">
                    Diet
                </label>
               <label for="tablets" class="block-label">
                    <input id="tablets" type="radio" name="treated" value="tablets">
                    Tablets
                </label>
               <label for="insulin" class="block-label">
                    <input id="insulin" type="radio" name="treated" value="insulin">
                    Insulin injection
                </label>
                 <label for="pump" class="block-label">
                    <input id="pump" type="radio" name="treated" value="pump">
                    Insulin pump
                </label>
                <label for="injectable" class="block-label">
                    <input id="injectable" type="radio" name="treated" value="injectable">
                    Other non injectable
                </label>
                </div>
              </fieldset>

              <h2 class="heading-24">What type of licence do you have?</h2>
              <fieldset>
                <div class="form-group form-radio">
                   <label for="no" class="block-label">
                    <input id="no" type="radio" name="licence_type" value="no">
                    I don't have a licence yet
                </label>
                <label for="car" class="block-label">
                    <input id="car" type="radio" name="licence_type" value="car">
                    Car or motorcycle licence
                </label>
                <label for="bus" class="block-label">
                    <input id="bus" type="radio" name="licence_type" value="bus">
                    Bus, coach or lorry licence
                </label>
                </div>
              </fieldset>

              <button id="continue2" type="button" class="medium button">Finish</button>
            </form>
        </div>    
   </div>
</div>

<div class="grid-wrapper">
    <div class="grid grid-2-3">
        <div class="inner-block answer">

  <div id="dont" class="hello" style="display: none;">
    <h2 class="heading-24">You don’t need to tell DVLA</h2>
    <p>You don’t need to tell DVLA unless your treatment changes to insulin or you don't feel safe when you drive.</p></div>

    <div id="tell" class="hello" style="display: none;">
        <h2 class="heading-24">You must tell DVLA</h2>
        <p class="notify">You must tell DVLA if you have diabetes. Tell DVLA if this affects you or someone you know.</p>
        <form class="get-started" action="http://diabetes-dvla.herokuapp.com/drivers-number">
          <input type="hidden" name="url" value="http://diabetes-dvla.herokuapp.com/drivers-number"><input type="submit" value="Start now" class="button medium">
        </form>
        <p>Or tell <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr> by filling in <a href="/government/publications/vdiab1i-confidential-medical-information">form VDIAB1I</a> and send it to <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr>. The address is on the form.</p>
    </div>

    <div id="revoke" class="hello" style="display: none;">
        <h2 class="heading-24">You must tell DVLA</h2>
        <p class="notify">You must tell DVLA if you have diabetes. Tell DVLA if this affects you or someone you know.</p>
        <form class="get-started" action="http://diabetes-revoke.herokuapp.com/drivers-number">
          <input type="hidden" name="url" value="http://diabetes-revoke.herokuapp.com/drivers-number"><input type="submit" value="Start now" class="button medium">
        </form>
        <div class="stupid">
        <p>Or tell <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr> by filling in <a href="/government/publications/vdiab1i-confidential-medical-information">form VDIAB1I</a> and send it to <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr>. The address is on the form.</p>
        </div>
    </div>

</div>
</div>
</div>

<script src="jquery.fastLiveFilter.js"></script>
  <script>
    $( document ).ready(function() {
        var treatmentOption;
        var licenceType;
        var selectedTreatmentRadioButton = $('input[name=treated]').filter(':checked');
        var selectedLicenceTypeRadioButton = $('input[name=licence_type]').filter(':checked');

        // if a treatment option is chosen, store it in treatmentOption
        if (selectedTreatmentRadioButton.length > 0)  {
            treatmentOption = $('input[name=treated]').filter(':checked').val();
        }

        // if a licence type is chosen, store it in licence_type
        if (selectedLicenceTypeRadioButton.length > 0)  {
            treatmentOption = $('input[name=licence_type]').filter(':checked').val();
        }

        // set stored values when radios are clicked
        $('input[name=treated]').click(function () {
            treatmentOption = $(this).val(); 
        });
        $('input[name=licence_type]').click(function () {
            licenceType = $(this).val();
        });

        function displayAnswer(answer) {
            var selector = "#" + answer;
            $(selector).show();
            window.location.hash = answer;
        }

        // decide to show the container based on the options seleted
        $("#continue2").click(function () {
            $("#hello1").hide();
            if ((licenceType === "bus") && (treatmentOption === "diet")) {
                displayAnswer('dont');
            }
            if ((licenceType === "car") && (treatmentOption === "diet")) {
                displayAnswer('dont');
            }
            if ((licenceType === "no") && (treatmentOption === "diet")) {
                displayAnswer('dont');
            }
            if ((licenceType === "bus") && (treatmentOption === "tablets")) {
                displayAnswer('tell');
            }
            if ((licenceType === "car") && (treatmentOption === "tablets")) {
                displayAnswer('dont');
            }
            if ((licenceType === "no") && (treatmentOption === "tablets")) {
                displayAnswer('dont');
            }
            if ((licenceType === "bus") && (treatmentOption === "insulin")) {
                displayAnswer('revoke');
            }
            if ((licenceType === "car") && (treatmentOption === "insulin")) {
                displayAnswer('revoke');
            }
            if ((licenceType === "no") && (treatmentOption === "insulin")) {
                displayAnswer('revoke');
            }
            if ((licenceType === "bus") && (treatmentOption === "pump")) {
                displayAnswer('revoke');
            }
            if ((licenceType === "car") && (treatmentOption === "pump")) {
                displayAnswer('revoke');
            }
            if ((licenceType === "no") && (treatmentOption === "pump")) {
                displayAnswer('revoke');
            }
            if ((licenceType === "bus") && (treatmentOption === "injectable")) {
                displayAnswer('tell');
            }
            if ((licenceType === "car") && (treatmentOption === "injectable")) {
                displayAnswer('tell');
            }
            if ((licenceType === "no") && (treatmentOption === "injectable")) {
                displayAnswer('tell');
            }
            return false;
        });
        /*
      $('#continue2').click(function() {
        $('.hello').hide();
        if($('input[name=treated], input[name=licence_type]').val() == 'diet, bus'){
          $('#hello1').show();
        }
        if($('input[name=licence_type]).val() == 'bus'){
          $('#hello2').show();
        }
        return false;
      });
*/
    });
  </script>

<!-- / GRID: QUARTERS -->