<div class="grid-wrapper">
    <div class="inner-block">
    <h1 class="heading-48">Carer's Allowance</h1>
    </div>

<div class="grid-wrapper">
<main id="content" class="complete">


  <h1>Based on your answers you may be entitled to Carer's Allowance</h1>

<article>
  <h2>Next steps</h2>
  <p>We've sent your application to <strong>Hackney Borough Council electoral registration office</strong>.</p>
  <p>They will contact you - either to confirm your registration, or to ask for more information.</p>
  <p>If you have any questions about your application, contact <a href="#">Hackney Borough Council electoral registration office</a>.</p>
  <p class="footnote"><a href="https://www.gov.uk/voting-in-the-uk">More about voting in the UK</a></p>
</article>

    </main>
</div>