

<div class="grid-wrapper">
<main id="content" class="complete">

  <h1 class="heading-48">Carer's Allowance</h1>

  <header>
  <h2>Based on your answers you might not be entitled to <br>Carer's Allowance</h2>
</header>

<article>
  <p>You don't qualify for Carer's Allowance if you are caring for someone less than 35 hours each week.</p>
  <p>You can still apply for Carer's Allowance, even if you don't meet the eligibility requirements.</p>

  <form>

    <a class="medium button" href="http://frozen-harbor-2592.herokuapp.com/questions/1">Apply now</a>

      </form>
</article>



    </main>
</div>