<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block">
		<h1 class="heading-48">Carer's Allowance</h1>
		</div>
	</div>

	<div class="grid grid-1-3">
		<div class="inner-block">
		<nav class="popular-needs"><ul class="top-tasks">
        <li><a href="https://www.gov.uk/overseas-passports">Overseas British passport applications</a></li>
        <li><a href="https://www.gov.uk/passport-fees">Passport fees</a></li>
        <li><a href="https://www.gov.uk/report-a-lost-or-stolen-passport">Report a lost or stolen passport</a></li>
      </ul></nav>
		</div>
</div>

<div class="grid-wrapper">
	<div class="grid ruled">
	</div>
</div>




<!-- GRID: FULL WIDTH -->
<div class="grid-wrapper">
  <div class="primary-apply">
    <div class="grid  grid-2-3">


    	<form action="" class="form" id="passports" name="passports">
        
        <h2 id="secondary-apply-label">Apply using the new service <span class="beta">beta</span>
        </h2>
        <p class="this-is-a-beta">This is a 'beta' service - find out <a href="https://www.gov.uk/help/beta">what this means for you</a>.</p>

        <h3>Do you spend 35 hours or more a week as a carer?</h3>
        <fieldset>
          <div class="form-group form-radio passport-type">
              <label for="adult" class="block-label">
                <input id="adult" type="radio" name="adult_or_child" value="adult" checked="checked">
                Yes
              </label>
              <label for="child" class="block-label">
                <input id="child" type="radio" name="adult_or_child" value="child">
                No
              </label>
          </div>
        </fieldset>

        <h3>Does the person you care for get benefits?</h3>
        <fieldset>
          <div class="form-group form-radio">
              <label for="first_passport" class="block-label">
                <input id="first_passport" type="radio" name="first_or_renew" value="first_passport">
                Yes
              </label>
              <label for="renew_passport" class="block-label">
                <input id="renew_passport" type="radio" name="first_or_renew" value="renew_passport" checked="checked">
                No
              </label>
          </div>
        </fieldset>

         <h3>Are you 16 and over?</h3>
        <fieldset>
          <div class="form-group form-radio">
              <label for="first_passport" class="block-label">
                <input id="first_passport" type="radio" name="first_or_renew" value="first_passport">
                Yes
              </label>
              <label for="renew_passport" class="block-label">
                <input id="renew_passport" type="radio" name="first_or_renew" value="renew_passport" checked="checked">
                No
              </label>
          </div>
        </fieldset>

         <h3>Do you live in either England, Scotland or Wales?</h3>
        <fieldset>
          <div class="form-group form-radio">
              <label for="first_passport" class="block-label">
                <input id="first_passport" type="radio" name="first_or_renew" value="first_passport">
                Yes
              </label>
              <label for="renew_passport" class="block-label">
                <input id="renew_passport" type="radio" name="first_or_renew" value="renew_passport" checked="checked">
                No
              </label>
          </div>
        </fieldset>

      </form>

      <button id="continue" type="submit" class="medium button">Apply now</button>

    </div>

    <div class="grid  grid-1-3 you-will-need">
      <h2>You will need</h2>
      <p>National Insurance numbers</p>
    </div>

	</div>

  <div class="otherways-to-apply">
    <div class="grid grid-1-2">
      <h2>Other ways to apply</h2>
    </div>
    <div class="grid grid-1-2 by-post">
      <h2>Apply by post</h2>
      <p>The best way to apply for Carer's Allowance is by the service above. If this is not possible you can apply by printing off and filling in the <a href="/government/publications/carers-allowance-claim-form">DS700 form</a> or the <a href="/government/publications/carers-allowance-claim-form">DS700SP form</a> if you get a State Pension, and sending it to the <a href="/carers-allowance-unit">Carer’s Allowance Unit</a><p>
    </div>
  </div>
  </div>

  <div>
    <div class="grid grid-1-2">
      <section class="help" aria-labelledby="help-label">
        <h1 id="help-label">Help with tax discs</h1>
        <ul>
          <li>
            <a href="/contact-the-dvla">Contact DVLA for questions about car tax</a>
          </li>
        </ul>
      </section>
    </div>

<div class="grid grid-1-2">
         <section class="related-links" aria-labelledby="related-links-label">
        <h1 id="related-links-label">Tax discs and car tax</h1>
        <ul>
          <li><a href="/register-sorn-statutory-off-road-notification">Make a SORN (Statutory Off Road Notification)</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Calculate vehicle tax rates</a></li>
          <li><a href="/apply-duplicate-tax-disc">Apply for a duplicate tax disc</a></li>
          <li><a href="/apply-hgv-vehicle-licence-tax-disc-form-v85">Apply for an HGV vehicle licence (tax disc) - form V85</a></li>
        </ul>
      </section>
    </div>
  </div>

  

</div>
<!-- / GRID: FULL WIDTH -->

