<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block">
		<h1 class="heading-48">Carer's Allowance</h1>
		</div>
	</div>

	<div class="grid grid-1-3">
		<div class="inner-block">
		<nav class="popular-needs"><ul class="top-tasks">
         <li><a href="https://www.gov.uk/carers-allowance">Read the guide on carers allowance</a></li>
          <li><a href="#">Attendance Allowance</a></li>
          <li><a href="#">Disability Living Allowance (DLA) for adults</a></li>
      </ul></nav>
		</div>
</div>

<div class="grid-wrapper">
	<div class="grid ruled">
	</div>
</div>




<!-- GRID: FULL WIDTH -->
<div class="grid-wrapper">
  <div class="primary-apply">
    <div class="grid  grid-2-3">


    	<form class="form" id="passports" name="passports">
        
        <h2 id="secondary-apply-label">Apply using the new service <span class="beta">beta</span>
        </h2>
        <p class="this-is-a-beta">This is a 'beta' service - find out <a href="https://www.gov.uk/help/beta">what this means for you</a>.</p>

        <h3>Do you spend 35 hours or more a week as a carer?</h3>
        <fieldset>
          <div class="form-group form-radio passport-type">
              <label for="yes_35_hours" class="block-label">
                <input id="yes-35-hours" type="radio" name="35_hours" value="yes_35_hours">
                Yes
              </label>
              <label for="child" class="block-label">
                <input id="no-35-hours" type="radio" name="35_hours" value="no_35_hours" class="no_option">
                No
              </label>
          </div>
        </fieldset>

        <h3>Does the person you care for get benefits?</h3>
        <fieldset>
          <div class="form-group form-radio">
              <label for="yes_benefits" class="block-label">
                <input id="yes-benefits" type="radio" name="benefits" value="yes_benefits">
                Yes
              </label>
              <label for="no_benefits" class="block-label">
                <input id="no-benefits" type="radio" name="benefits" value="no_benefits" class="no_option">
                No
              </label>
          </div>

          <div class="hidden_thing">
                <div class="open-border">
                  <h2>Does the person you care for get one of these benefits?</h2>
                  <p class="title">Personal Independence Payment (PIP)</p>
      
                  <p>At either the standard or enhanced rate of the Daily Living Component.</p>
      
                  <p class="title">The care component of Disability Living Allowance (DLA)</p>
      
                  <p>At the middle or highest rate.</p>
      
                  <p class="title">Attendance Allowance (AA)</p>
      
                  <p class="title">Constant Attendance Allowance (CAA)</p>
      
                  <p>At or above the normal maximum rate as an addition to Industrial Injuries Disablement Benefit (IIDB); or the basic, full day rate as an addition to War Disablement Pension (WDP)</p>
      
                  <p class="title">Armed Forces Independence Payment (AFIP)</p>
                
                  <div class="form-group form-radio hidden-radio">
              <label for="yes-benefit-type" class="block-label">
                <input id="yes-benefit-type" type="radio" name="benefit-type" value="yes_benefit_type">
                Yes
              </label>
              <label for="no-benefit-type" class="block-label">
                <input id="no-benefit-type" type="radio" name="benefit-type" value="yes_benefit_type" class="no_option">
                No
              </label>
          </div>

                </div>
        </fieldset>



         <h3>Are you 16 and over?</h3>
        <fieldset>
          <div class="form-group form-radio">
              <label for="16_over" class="block-label">
                <input id="16_over" type="radio" name="age" value="16_over">
                Yes
              </label>
              <label for="under_16" class="block-label">
                <input id="under-16" type="radio" name="age" value="under_16" class="no_option">
                No
              </label>
          </div>
        </fieldset>

         <h3>Do you live in either England, Scotland or Wales?</h3>
        <fieldset>
          <div class="form-group form-radio">
              <label for="live_in" class="block-label">
                <input id="live-in" type="radio" name="location" value="live_in">
                Yes
              </label>
              <label for="dont_live_in" class="block-label">
                <input id="dont-live-in" type="radio" name="location" value="dont-live-in" class="no_option">
                No
              </label>
          </div>
        </fieldset>
        <input id="continue" type="submit" class="medium button" value="Start now" />
      </form>

    </div>

    <div class="grid  grid-1-3 you-will">
      <h2>You will need</h2>
      <p>National Insurance numbers</p>
    </div>

	</div>

  <div class="otherways-to-apply">
    <div class="grid grid-1-2">
      <h2>Other ways to apply</h2>
    </div>
    <div class="grid grid-1-2 by-post">
      <h2>Apply by post</h2>
      <p>You can apply by post by printing off and filling in the <a href="/government/publications/carers-allowance-claim-form">DS700 form</a> or the <a href="/government/publications/carers-allowance-claim-form">DS700SP form</a> if you get a State Pension, and sending it to the <a href="/carers-allowance-unit">Carer’s Allowance Unit</a>.<p>
    </div>
  </div>
  </div>

  <div>
    <div class="grid grid-1-2">
      <section class="help" aria-labelledby="help-label">
        <h1 id="help-label">Help with applying for Carer's Allowance</h1>
        <ul>
          <li>
            <a href="#">Contact Carer's Allowance</a>
          </li>
        </ul>
      </section>
    </div>

<div class="grid grid-1-2">
         <section class="related-links" aria-labelledby="related-links-label">
        <h1 id="related-links-label">Carers and disability benefits</h1>
        <ul>
          <li><a href="#">Carer's Credit</a></li>
          <li><a href="#">Attendance Allowance</a></li>
          <li><a href="#">Disability Living Allowance (DLA) for adults</a></li>
          <li><a href="#">Personal Independence Payment (PIP)</a></li>
        </ul>
      </section>
    </div>
  </div>

  

</div>
<!-- / GRID: FULL WIDTH -->
<script type="text/javascript">
$('input:radio[name="benefits"]').change(function(){
    if ($(this).val() == 'yes_benefits') {
        $('.hidden_thing').show();
    }else {
        $('.hidden_thing').hide();
    }
});

var form = $('form#passports');
form.submit(function (e) {
  event.preventDefault();
  if ($('input.no_option:checked', form).length > 0) {
    window.location = "/carers_allowance_yes"
  }
  else {
    window.location = "http://frozen-harbor-2592.herokuapp.com/questions/1"
  }
});
</script>

