<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block">
		<h1 class="heading-48">Apply for or renew a British passport</h1>
		</div>
	</div>

	<div class="grid grid-1-3">
		<div class="inner-block">
		<nav class="popular-needs"><ul class="top-tasks">
        <li><a href="https://www.gov.uk/overseas-passports">Overseas British passport applications</a></li>
        <li><a href="https://www.gov.uk/passport-fees">Passport fees</a></li>
        <li><a href="https://www.gov.uk/report-a-lost-or-stolen-passport">Report a lost or stolen passport</a></li>
      </ul></nav>
		</div>
</div>

<div class="grid-wrapper">
	<div class="grid ruled">
	</div>
</div>







<!-- GRID: FULL WIDTH -->
<div class="grid-wrapper">
	<div class="grid">

		
		<p>It takes at least 6 weeks to get your first adult passport once your form has been received. Passport renewals take 3 weeks.</p>
		<p>How you apply is different if you <a href="https://gov.uk/get-a-passport-urgently">need your passport urgently</a>.</p>

		<form action="" class="form" id="passports" name="passports">
      
      <h2>Are you applying for an adult passport or a child passport?</h2>
      <fieldset>
        <div class="form-group form-radio passport-type">
            <label for="adult" class="block-label">
              <input id="adult" type="radio" name="adult_or_child" value="adult" checked="checked">
              Adult passport
            </label>
            <label for="child" class="block-label">
              <input id="child" type="radio" name="adult_or_child" value="child">
              Child passport
            </label>
        </div>
      </fieldset>

      <h2>Is this your first passport or are you renewing?</h2>
      <fieldset>
        <div class="form-group form-radio">
            <label for="first_passport" class="block-label">
              <input id="first_passport" type="radio" name="first_or_renew" value="first_passport">
              First passport
            </label>
            <label for="renew_passport" class="block-label">
              <input id="renew_passport" type="radio" name="first_or_renew" value="renew_passport" checked="checked">
              Renewing or replacing a passport
            </label>
        </div>
      </fieldset>

      <p class="urgent_hint">The process is different if you need to <a href="https://gov.uk/get-a-passport-urgently">renew your passport urgently</a>.</p>

    </form>

    <button id="continue" type="submit" class="medium button">Continue</button>

	
	</div>
</div>
<!-- / GRID: FULL WIDTH -->