<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block">
		<h1 class="heading-48">Learn to drive</h1>
		</div>
	</div>



<!-- GRID: FULL WIDTH -->
<div class="grid-wrapper">

          <div class="beta-label grid">
<span class="beta">beta</span> This part of GOV.UK is being rebuilt – <a href="www.gov.uk/help/beta">find out what this means</a>
</div>

  <div class="otherways-to-apply">

    <div class="grid grid-1-3">
      <h1>Get a provisional driving licence</h1>
    </div>

    <div class="grid grid-2-3">
      <ul class="list">
          <li><a href="https://www.gov.uk/apply-first-provisional-driving-licence">Apply for a provisional driving licence</a></li>
        </ul>
    </div>
  </div>

      <div class="grid grid-1-3">
      <h1>Find someone to teach you</h1>
    </div>

    <div class="grid grid-2-3">
      <ul class="list">
          <li><a href="https://www.gov.uk/driving-lessons-who-can-teach-you">Driving lessons: who can teach you</a></li>
          <li><a href="https://www.gov.uk/find-driving-schools-and-lessons">Find driving schools and lessons</a></li>
        </ul>
    </div>

      <div class="grid grid-1-3">
      <h1>Prepare for the theory test</h1>
    </div>

    <div class="grid grid-2-3">
      <ul class="list">
          <li><a href="https://www.gov.uk/highway-code">The Highway Code</a></li>
          <li><a href="https://www.gov.uk/traffic-signs">Traffic signs</a></li>
          <li><a href="https://www.gov.uk/practise-your-driving-theory-test">Practise your driving theory test</a></li>
          <li><a href="https://www.gov.uk/driving-theory-test">The driving theory test for cars and motorcycles</a></li>
        </ul>
    </div>

          <div class="grid grid-1-3">
      <h1>Take the tests</h1>
    </div>

    <div class="grid grid-2-3">
      <ul class="list">
          <li><a href="https://www.gov.uk/book-a-driving-theory-test">Book your official driving or riding theory test</a></li>
          <li><a href="https://www.gov.uk/book-practical-driving-test">Book your official practical driving or riding test</a></li>
           <li><a href="https://www.gov.uk/change-date-driving-theory-test">Change the date of your driving theory test</a></li>
             <li><a href="https://www.gov.uk/change-date-practical-driving-test">Change the date of your practical driving or riding test</a></li>
        </ul>
    </div>
  </div>

  
  </div>

  </div>


  </div>

  

</div>
<!-- / GRID: FULL WIDTH -->
