fieldset, legend {
  width: 100%;
  float: left;
  clear: both; }

.form-group {
  float: left;
  width: 100%;
  clear: both; }
  .form-group:after {
    content: "";
    display: block;
    clear: both; }
  @media (min-width: 641px) {
    .form-group {
      margin-bottom: 45px; } }

.form-group-compound {
  margin-bottom: 10px; }

.form-label, .date-of-birth legend, .form-group label {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-bottom: 5px; }
  @media (max-width: 640px) {
    .form-label, .form-group label {
      font-size: 16px;
      line-height: 1.25; } }

.form-control {
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #bfc1c3;
  -webkit-appearance: none;
  border-radius: 0; }
  @media (min-width: 641px) {
    .form-control {
      width: 50%; } }

.form-control-3-4 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-3-4 {
      width: 75%; } }

.form-control-1-2 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-1-2 {
      width: 50%; } }

.form-control-1-4 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-1-4 {
      width: 25%; } }

.form-control-1-8 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-1-8 {
      width: 12.5%; } }

.form-hint {
  display: block;
  color: #6f777b;
  margin-top: 8px;
  margin-bottom: 5px; }

.form-radio input {
  vertical-align: middle;
  margin: -4px 5px 0 0; }

.form-checkbox input {
  vertical-align: middle;
  margin: -2px 5px 0 0; }

.text-secondary {
  color: #6f777b; }

.validation-summary {
  border: 3px solid #df3034;
  background: #fef7f7;
  padding: 15px 30px;
  margin-bottom: 30px; }

.validation-summary ul {
  margin-top: 10px; }

.validation-summary li, .validation-summary p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none; }
  @media (max-width: 640px) {
    .validation-summary li, .validation-summary p {
      font-size: 14px;
      line-height: 1.14286; } }

.validation-summary p {
  margin-top: 15px;
  margin-bottom: 5px; }

.validation-summary a {
  color: #df3034; }

.validation-summary .heading-19 {
  margin-top: 15px; }

.validation {
  border-left: 3px solid #df3034;
  background: #fef7f7;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px; }
  .validation:after {
    content: "";
    display: block;
    clear: both; }

.validation p {
  margin-bottom: 10px; }

.validation-message {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  color: #df3034; }
  @media (max-width: 640px) {
    .validation-message {
      font-size: 14px;
      line-height: 1.14286; } }


.date-of-birth label {
  display: block;
  color: #6f777b;
  margin-bottom: 5px; }

@media (min-width: 641px) {
  .date-of-birth .form-group {
    width: 50px;
    float: left;
    margin-right: 20px;
    clear: none; } }

@media (min-width: 641px) {
  .date-of-birth .form-group-year {
    width: 70px; } }

.date-of-birth .form-group input {
  width: 100%; }

.form-group .block-label {
  
  width: 85%;

  @include media(desktop) {
    width: auto;
  }

  display: inline-block;
  padding: 18px 30px 15px 15px;
  background: #dee0e2; }

.block-label input:focus {
  outline: none; }

.add-focus {
  outline: 3px solid #ffbf47; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table tr {
  padding: 12px 8px 12px 16px; }

table tr.stripe td, table tr:nth-child(even) td {
  background-color: #fff; }

table th, table td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  text-align: left;
  color: #0b0c0c;
  background-color: #dee0e2;
  border: solid 1px #a1acb2;
  padding: 10px 16px; }
  @media (max-width: 640px) {
    table th, table td {
      font-size: 14px;
      line-height: 1.14286; } }

table th {
  font-weight: 700; }

table td {
  background: #eaedef;
  border: dotted 1px #b8c6cc; }

.button {
  background-color: #006435;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #00180c;
  -moz-box-shadow: 0 2px 0 #00180c;
  box-shadow: 0 2px 0 #00180c;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  margin: 0 15px 15px 0;
  padding: 10px 10px 5px 10px;
  vertical-align: top; }
  .button:visited {
    background-color: #006435; }
  .button:hover, .button:focus {
    background-color: #004b26; }
  .button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #006435;
    -moz-box-shadow: 0 0 0 #006435;
    box-shadow: 0 0 0 #006435; }
  .button.disabled, .button[disabled="disabled"], .button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
      cursor: default;
      background-color: #006435; }
    .button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #00180c;
      -moz-box-shadow: 0 2px 0 #00180c;
      box-shadow: 0 2px 0 #00180c; }
  .button:link, .button:hover, .button:focus, .button:visited {
    color: #fff; }
  .button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button:active:before {
    top: -10%;
    height: 120%; }
  .button[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

.button:focus {
  outline: 3px solid #ffbf47; }

.get-started .button {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  line-height: 0.66667;
  color: #FFF;
  background-color: #00823b;
  padding: 0.6em 1.7em 0.45em 0.67em;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-pointer-063838cde108768e30b077e5303783fc.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  margin-bottom: 0; }
  @media (max-width: 640px) {
    .get-started .button {
      font-size: 20px;
      line-height: 1.2; } }
.get-started .button:hover {
  background-color: #006435; }
.get-started .destination {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  color: #2e3133;
  display: block;
  margin-top: 7px;
  max-width: 182px; }
  @media (max-width: 640px) {
    .get-started .destination {
      font-size: 12px;
      line-height: 1.25; } }

.button-link {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  background: none;
  border: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  color: #005ea5;
  line-height: 1.25;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 15px 15px 0;
  padding: 10px 10px 5px 10px;
  vertical-align: top; }
  @media (max-width: 640px) {
    .button-link {
      font-size: 16px;
      line-height: 1.25; } }

.button-link:hover {
  color: #2e8aca; }

.button-link:focus {
  outline: 3px solid #ffbf47; }
