
<header class="page-header group">
<div>
<h1>GOV.UK prototype</h1>
</div>
</header>

<div class="article-container group">
	<article role="article" class="group">

		<div class="inner">

		<header><h1>1. Overview</h1></header>

		<p>All children in England between the ages of 5 and 16 are entitled to a free place at a state school. </p>

		<p>Most state schools have to follow the <a href="/national-curriculum">national curriculum</a>. The most common ones are:</p>

		<ul>
		<li>community schools, controlled by the local council and not influenced by business or religious groups</li>
		<li>foundation schools, more freedom to change the way they do things than community schools</li>
		<li>academies, run by a governing body, independent from the local council - they can follow a different curriculum</li>
		<li>grammar schools, run by the council, a foundation body or a trust - they select all or most of their pupils based on academic ability and there is often an exam to get in</li>
		</ul>
		<h2>Special schools</h2>

		<p>Special schools with pupils aged 11 and older can specialise in 1 of the 4 areas of <a href="/children-with-special-educational-needs">special educational needs</a> (<abbr title="Special educational needs">SEN</abbr>):</p>

		<ul>
		<li>communication and interaction</li>
		<li>cognition and learning</li>
		<li>behaviour, emotional and social development </li>
		<li>sensory and physical needs</li>
		</ul>

		</div>
	</article>
</div>