<%= javascript_include_tag "travel-advice.js" %>

<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid">
		<div class="inner-block">
		<h1 class="heading-48">Contact DVLA about driving and medical issues</h1>
		</div>
	</div>
</div>


<!-- GRID: FULL WIDTH -->
<div class="grid-wrapper">
	<div class="grid">
		<div class="inner-block">
        <section id="conditions-filter" class="group">
        	<p>Tell DVLA if you or someone you know has a medical condition, disability or is unsafe to drive.</p>
        </section>
		
		<div class="conditions-wrapper">
        <div class="grid grid-2-3 conditions">
          <h1>Health conditions</h1> 

          <form action="" method="post" class="form">
            <fieldset class="inline">
              <legend></legend>
              <label for="radio-inline-1" class="block-label">
                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                Yes
              </label>
              <label for="radio-inline-2" class="block-label">
                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                No
              </label>
            </fieldset>
          </form>      
        </div>
     </div>
	</div>
</div>
<!-- / GRID: FULL WIDTH -->

</div>
<!-- / GRID: QUARTERS -->