<ol role="breadcrumbs" class="group">
<li><a href="#">Home</a></li>
<li><a href="#">Passports, travel and living abroad</a></li>
<li><a href="#">Travel abroad</a></li>
<li><a href="#">Foreign travel advice</a></li>
<li><a href="#">Egypt</a></li>
</ol>
