

<!-- PAGE HEADING -->
<div class="grid-wrapper title">
	<div class="grid">
		<div class="grid grid-2-3 title_intro">
			<div class="inner-block">
			<h1 class="heading-48">
			<span class="heading-27">Foreign travel advice</span>Egypt</h1>
			<!-- <p>Current travel advice from the Foreign and Commonwealth Office (FCO)</p> -->
			</div>
		</div>

		<div class="grid grid-1-3">
			<div class="inner-block">
				<a href="#" class="link_to_world">UK and Egypt</a>

				Get updates for Egypt<br />
				email feed
			</div>
		</div>
	</div>
</div>


<div class="grid-wrapper">
	<div class="grid">
		<div class="inner-block">
			<div class="ruled"></div>
		</div>
	</div>
</div>


<!-- GRID: HALF / HALF -->
<div class="grid-wrapper">
	<div class="grid grid-1-2 visitor_info">
		<div class="inner-block">

			<section class="advice-status">
				<h2>Travel not advised</h2>
				<p>North Sinai.</p>
				<span class="more_details"><a href="#">Read more about this region</a></span>
			</section>

			<section class="advice-status">
				<h2>Essential travel only advised</h2>
				<p>South Sinai and the Governorates of Beni Suef, Minya, Asyut and Sohag.</p>
				<span class="more_details"><a href="#">Read more about this region</a></span>
			</section>

			<section class="advice-status">
			<h2>Travel as normal</h2>
				<p>Take normal safety precautions in:
				<ul>
					<li>the Red Sea Resorts between and including Taba and Sharm el Sheikh.</li>
					<li>the St Catherine’s Monastery World Heritage Site.</li>
					<li>road travel from the Red Sea resorts to St Catherine’s Monastery approaching from the east.</li>
				</ul>
				<span class="more_details"><a href="#">Read more about this region</a></span>
			</section>
		</div>
	</div>

	<div class="grid grid-1-2">
		<div class="inner-block">
			<%= image_tag("egypt_map.png", :class => "map") %>
		</div>
	</div>
</div>
<!-- / GRID: HALF / HALF -->


<div class="grid-wrapper">
	<div class="grid">
		<div class="inner-block">
			<section class="ruled entry-and-exit">
			<h1>Entry and exit requirements</h1>
				<p>Take normal safety precautions in:</p>
			</section>
		</div>
	</div>
</div>




<!-- GRID: TWO THIRDS / ONE THIRD -->
<div class="grid-wrapper">
	<div class="grid grid-1-3">
		<div class="inner-block">
			<nav role="navigation"><ol id="document_sections">
<li><a href="/government/policies/giving-all-children-a-healthy-start-in-life#issue">Issue</a></li>
          <li><a href="/government/policies/giving-all-children-a-healthy-start-in-life#actions">Actions</a></li>
          <li><a href="/government/policies/giving-all-children-a-healthy-start-in-life#background">Background</a></li>
      </ol></nav>
		</div>
	</div>

		<div class="grid grid-2-3">
		<div class="inner-block">
		<p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
		</div>
	</div>
</div>
<!-- / GRID: TWO THIRDS / ONE THIRD -->
