

<!-- PAGE HEADING -->
<div class="grid-wrapper title">
  <div class="grid">
    <div class="grid grid-2-3 title_intro">
      <div class="inner-block">
      <h1 class="heading-48">
      <span class="heading-27">Foreign travel advice</span>Prototypes</h1>
      <!-- <p>Current travel advice from the Foreign and Commonwealth Office (FCO)</p> -->
      </div>
    </div>

    <div class="grid grid-1-3">
      <div class="inner-block">

      </div>
    </div>
  </div>
</div>


<div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block">
      <div class="ruled"></div>
    </div>
  </div>
</div>

<div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block prototypes">
      <ul class="prototypes-list">
        <li><a href="<%= root_url + 'foreign-travel-advice/portugal' %>" target="_blank">Portugal</a></li>
        <li><a href="<%= root_url + 'foreign-travel-advice/egypt' %>" target="_blank">Egypt</a></li>
        <li><a href="<%= root_url + 'foreign-travel-advice/syria' %>" target="_blank">Syria</a></li>
      </ul>
    </div>
  </div>
</div>
