

<!-- PAGE HEADING -->
<div class="grid-wrapper title">
	<div class="grid">
		<div class="grid grid-2-3 title_intro">
			<div class="inner-block">
			<h1 class="heading-48">
			<span class="heading-27">Foreign travel advice</span>Syria</h1>
			<!-- <p>Current travel advice from the Foreign and Commonwealth Office (FCO)</p> -->
			</div>
		</div>

		<div class="grid grid-1-3">
			<div class="inner-block">
				<ul class="top-tasks">
					<li><a href="https://www.gov.uk/government/world/syria">UK and Syria</a></li>
					<li><a href="https://www.gov.uk/government/world/organisations/british-embassy-damascus">British Embassy Damascus</a></li>

					<!-- <li>
						<ul class="updates">
							<li><a href="#" class="email">Email updates</a></li>
							<li><a href="#" class="feed">Feed</a></li>
						</ul>
					</li> -->

					<li><a href="http://twitter.com/FCOtravel" target="_blank" class="twitter"><span class="connect">Connect with FCO Travel on</span>FCOTravel on Twitter</a></li>
				</ul>


				<!-- Get updates for Egypt<br />
				email feed -->
			</div>
		</div>
	</div>
</div>


<div class="grid-wrapper">
	<div class="grid">
		<div class="inner-block">
			<div class="ruled"></div>
		</div>
	</div>
</div>


<!-- GRID: HALF / HALF -->
<div class="grid-wrapper">

	<div class="grid grid-1-2 visitor_info">
		<div class="inner-block">

			<div class="current-status">
				<span class="meta">Advice current: </span><span class="timestamp"><%= (Time.now).strftime('%d %b, %Y')  %></span>
				<span class="meta">Latest update: </span><span class="status">There have been a number of recent media reports alleging use of chemical weapons in Syria.</span>
			</div>

			<section class="advice-status no-travel">
				<h2>Travel not advised</h2>
				<p>Don’t travel to Syria.</p>
				<p>The Foreign and Commonwealth Office (FCO) currently considers that Syria has a high risk of terrorism.</p>
				<p>Military action is ongoing and British nationals should leave Syria now.</p>
				<p>The FCO can’t offer consular services or help you leave the country.
				If you visit Syria against FCO advice, read <a href="#safety-and-security">Safety and security</a>.</p>
				<!-- <span class="more_details"><a href="#no-travel">More on this region</a></span> -->
			</section>

		</div>
	</div>

	<div class="grid grid-1-2">
		<div class="inner-block">
			<%= image_tag("syria_map.png", :class => "map") %>
		</div>
	</div>

</div>
<!-- / GRID: HALF / HALF -->



<!-- <div class="grid-wrapper">
	<div class="grid">
		<div class="inner-block">
			<section class="entry-and-exit">

				<h1>Entry and exit requirements</h1>
				<h2>Passport validity</h2>
				<p>Your passport should be valid for a minimum of 6 months from the date you enter Egypt.</p>

				<h2>Visa</h2>
				<p>British passport holders normally need a visa. You can buy one on arrival, if you’re staying less than 30 days.
				Or you can get a visa from an Egyptian Consulate before you go.</p>
				<p>If you’re visiting Sharm El Sheikh, Dahab, Nuweiba or Taba for less than 15 days, you’ll get a free entry permission stamp on arrival.
				But you must get a visa, if you want to stay longer than 15 days or travel out of these resorts. You can normally buy one at Sharm El Sheikh airport.</p>

			</section>
		</div>
	</div>
</div> -->



<div class="grid-wrapper">
	<div class="grid">
		<div class="inner-block">
			<div class="ruled"></div>
		</div>
	</div>
</div>


<!-- GRID: TWO THIRDS / ONE THIRD -->
<div class="grid-wrapper chaptered">
	<div class="grid grid-1-4">
		<div class="inner-block">
			<nav role="navigation" id="chapter-nav">
				<h1>Contents</h1>
				<ol id="document_sections">
					<li><a href="#entry-and-exit">Entry and exit</a></li>
					<li><a href="#safety-and-security">Safety and security</a></li>
          <li><a href="#local-laws">Local laws</a></li>
          <li><a href="#health">Health</a></li>
					<li><a href="#where-to-get-help">Where to get help</a></li>
      	</ol>
			</nav>
		</div>
	</div>

		<div class="grid grid-3-4">
		<div class="inner-block chapter_details">
			<section class="part" id="entry-and-exit">
				<h1>Entry and exit</h1>
				<h2>Passport validity</h2>
				<p>Your passport should be valid for a minimum of 6 months from the date you enter Egypt.</p>

				<h2>Visa</h2>
				<p>British passport holders normally need a visa. You can buy one on arrival, if you’re staying less than 30 days.
				Or you can get a visa from an Egyptian Consulate before you go.</p>
				<p>If you’re visiting Sharm El Sheikh, Dahab, Nuweiba or Taba for less than 15 days, you’ll get a free entry permission stamp on arrival.
				But you must get a visa, if you want to stay longer than 15 days or travel out of these resorts. You can normally buy one at Sharm El Sheikh airport.</p>

				<h2>UK Emergency Travel Documents</h2>
				<p>You can use a UK Emergency Travel Document (ETD) to leave Egypt. But you can’t use one to enter the country.</p>

				<h2>Yellow fever</h2>
				<p>You must show proof of a yellow fever vaccination if arriving from countries with risk of yellow fever. </p>

				<h2>Previous travel to Israel</h2>
				<p>You won’t normally have problems entering Egypt if you have an Israeli stamp in your passport.  </p>

				<h2>Work permits</h2>
				<p>You must show evidence of HIV testing if you’re applying for a work permit. </p>
			</section>

			<section class="part" id="safety-and-security">
				<h1>Safety and security</h1>
				<h2>Detailed summary</h2>
				<!-- <p id="no-travel">Travel not advised info</p>
				<p id="essential-travel-only">Essential travel only advised info</p>
				<p id="travel-as-normal">Travel as normal info</p> -->
				<h2>Protests</h2>
				<p>Many people have died in violent clashes since President Morsi was removed from office in July 2013. Protests often happen on Fridays but can also happen at any time with little notice.</p>
				<p>Police may use water cannon, tear gas, birdshot or live ammunition for crowd control. Don’t cross roadblocks put up by the security forces or protesters.</p>
				<p>Protestors have singled out westerners, including Britons. Most clashes have taken place in Cairo, Alexandria and Fayoum but are common across Egypt including:</p>
				<ul>
					<li>Assyut</li>
					<li>Suez</li>
					<li>Ismaliyya</li>
					<li>Mansoura</li>
				</ul>

				<h2>Terrorism</h2>
				<p>There is a high threat from terrorism.</p>
				<p>Security is tight throughout the country, especially in resort areas but the risk of attack is high, even in public places used by tourists.</p>

				<h2>Crime</h2>
				<p>The crime rate remains generally low, but security is affected by the current political unrest.</p>
				<p>Report a crime to the police immediately. Failure to report crimes before you leave Egypt will make it impossible to seek a prosecution at a later date.</p>

				<h2>Sexual crime</h2>
				<p>There’s a serious risk of violence and sexual assault at demonstrations, with reports of around 100 rapes and sexual assaults since June 2013.</p>
				<p>Sexual assaults have taken place in hotels, in taxis and on microbuses.</p>
			</section>

			<section class="part" id="local-laws">
				<h1>Local laws</h1>
				<h2>Alcohol and drugs</h2>
				<p>You can be arrested for drinking alcohol in the street or anywhere apart from a licensed restaurant or bar.
				You may face life imprisonment or the death penalty for using, possession or trafficking of illegal drugs. </p>
				<h2>ID</h2>
				<p>Carry photo ID with you at all times.</p>
				<h2>Photography</h2>
				<p>Taking photos of or near military installations is strictly prohibited, including the Suez Canal.  Don’t photograph officials without their consent.  British nationals have been arrested for photographing electricity stations and train stations. </p>
				<h2>Homosexuality</h2>
				<p>Although homosexuality is not illegal under Egyptian law, homosexual acts in public are illegal and gay people have been convicted for breaching laws on public decency.</p>
				<h2>Religion</h2>
				<p>Encouraging conversion to the Christian faith is against the law.</p>
			</section>

			<section class="part" id="health">
				<h1>Health</h1>
				<p>For health advice on Egypt, visit the National Travel Health Network and Centre.</p>
				<p>Medical facilities outside Cairo, major cities and resorts can be basic.  In an emergency, seek treatment in Cairo or the nearest big city or town.
				In an emergency dial 123 and ask for an ambulance.
				Pre-travel Hepatitis A vaccine is now recommended for all travellers.
				Information about healthcare abroad, including a country-by-country guide to reciprocal healthcare agreements with the UK, is available from <a href="http://www.nhs.uk">NHS Choices</a>.</p>
			</section>

			<section class="part" id="where-to-get-help">
				<h1>Where to get help</h1>
				<p>If you have any questions about travelling, email the <a href="TravelAdvicePublicEnquiries@fco.gov.uk">FCO Travel Advice Team</a>. To find out if your passport is valid for travel to this country, see <a href="/travel-advice/egypt/entry-and-exit">Entry and Exit</a>.</p>
				<h2>Emergencies</h2>
				<p>Call 123 when in Egypt.</p>
				<h2>Embassies</h2>
				<p>[served by API]</p>
				<h2>Arrested abroad</h2>
				<p>Find out what help you can get if you or someone you know is <a href="/help-if-you-are-arrested-abroad">arrested abroad</a>.</p>
				<h2>UK Emergency Travel Document</h2>
				<p>You can use an Emergency Travel Document (ETD) to leave Egypt. But you can’t use one to enter the country.</p>
			</section>
		</div>
	</div>
</div>
<!-- / GRID: TWO THIRDS / ONE THIRD -->
