

<!-- PAGE HEADING -->
<div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block mhra">
    <h1 class="heading-48">
      <span class="heading-27">Email alert subscription</span>MHRA email alerts</h1>
      <p class="mhra-intro">Email alerts from the MHRA (Medicines and Healthcare Products Regulatory Agency). You can subscribe to:</p>
    </div>
  </div>
</div>

<!-- GRID: TWO THIRDS / ONE THIRD -->
<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block alerts-list">
      <h2 class="heading-24"><a href="drug-device-alerts/email-signup">Drug alerts and medical device alerts (MDAs)</a></h2>
      <p>Drug alerts and medical device alerts published by the MHRA.</p>
      <h2 class="heading-24"><a href="#">‘Drug Safety Update’ newsletters</a></h2>
      <p>The Drug Safety Update is a monthly newsletter for healthcare professionals with information and clinical advice on the safe use of medicines.</p>
      <h2 class="heading-24"><a href="#">News and publications from the MHRA</a></h2>
      <p>Publications, statistics, consultations and announcements from the MHRA.</p>
      <p class="last-para">If you want to receive more than one alert type, return to this page to add other subscriptions.</p>
    </div>


  </div>

  <div class="grid grid-1-3">
    <div class="inner-block">
    </div>
  </div>
</div>
<!-- / GRID: TWO THIRDS / ONE THIRD -->
