

<!-- PAGE HEADING -->
<div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block mhra">
    <h1 class="heading-48">
      <span class="heading-27">Email alert subscription</span>CMA cases</h1>
    </div>
  </div>
</div>

<!-- GRID: TWO THIRDS / ONE THIRD -->
<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block">
      <!-- <h2 class="heading-24">Subscribe to email alerts</h2> -->
      <div style="height:30px;"></div>
      <p>Select the email alerts that you want to receive.</p>

      <!-- <details>
        <summary>Thing</summary>
      </details> -->

      <form accept-charset="UTF-8" action="/drug-safety-update/email-signup" method="post">
        <fieldset>
          <legend class="form-label-bold">Case types</legend>
          <label class="block-label" for="checkbox-1">
            <input id="checkbox-1" type="checkbox" value="1">
            CA98 and civil cartels
          </label>

          <label class="block-label" for="checkbox-1">
            <input id="checkbox-1" type="checkbox" value="1">
            Criminal cartels
          </label>

          <label class="block-label" for="checkbox-1">
            <input id="checkbox-1" type="checkbox" value="1">
            Markets
          </label>

          <label class="block-label" for="checkbox-1">
            <input id="checkbox-1" type="checkbox" value="1">
            Mergers
          </label>

          <label class="block-label" for="checkbox-1">
            <input id="checkbox-1" type="checkbox" value="1">
            CA98 and civil cartels
          </label>

          <label class="block-label" for="checkbox-1">
            <input id="checkbox-1" type="checkbox" value="1">
            Consumer enforcement
          </label>

          <label class="block-label" for="checkbox-1">
            <input id="checkbox-1" type="checkbox" value="1">
            Regulatory references and appeals
          </label>

          <label class="block-label" for="checkbox-1">
            <input id="checkbox-1" type="checkbox" value="1">
            Reviews of orders and undertakings
          </label>
        </fieldset>

        <div class="email-notice"><p>You’ll receive notifications for new alerts and changes to existing alerts.</p></div>

        <div style="margin:0;padding:0;display:inline;">
        <input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="KK4T3NGqcea5w+b35dR3xsQU2mDu2FAINZU/rPQPz4o=">
        </div>

        <input class="button" name="commit" type="submit" value="Create subscription">
        </form>
    </div>
  </div>

  <div class="grid grid-1-3">
    <div class="inner-block">
    </div>
  </div>
</div>
<!-- / GRID: TWO THIRDS / ONE THIRD -->
