<div id="global-breadcrumb">
  <ol role="breadcrumbs" class="group">
  <li><a href="<%= root_url %>">Home</a></li>
  <li><a href="<%= root_url %>policies">Policies</a></li>
  <li><a href="<%= root_url %>policies/localism">Localism</a></li>
  </ol>
</div>
