<div id="global-breadcrumb">
  <ol role="breadcrumbs" class="group">
  <li><a href="#">Breadcrumb 1</a></li>
  <li><a href="#">Breadcrumb 2</a></li>
  <li><a href="#">Breadcrumb 3</a></li>
  </ol>
</div>
