<h1>
<span>Business tax</span> VAT</h1>

			<aside class="metadata"><dl>
<dt>From:</dt>
					<dd>
<a class="organisation-link" href="/government/organisations/hm-revenue-customs">HM Revenue &amp; Customs</a>, <a class="organisation-link" href="/government/organisations/department-for-business-innovation-skills">Department for Business, Innovation &amp; Skills</a>, <a class="organisation-link" href="/government/organisations/department-for-work-pensions">Department for Work and Pensions</a>, and <a class="organisation-link" href="/government/organisations/hm-treasury">HM Treasury</a>
</dd>
				</dl></aside>
</div>
</header><div class="beta-label">
<span class="beta">beta</span> This part of GOV.UK is being rebuilt – <a href="/help/beta">find out what this means</a>
</div>
<div class="browse-container full-width">

		<nav class="index-list" aria-labelledby="introduction"><h1 id="introduction">Introduction</h1>
			<ul>
<li>
					<a href="https://www.gov.uk/vat-businesses">Businesses and charging VAT</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-rates">VAT rates</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-consumers">VAT for consumers</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-building-new-home">Building a new home and VAT</a>
				</li>
				<li>
					<a href="https://www.gov.uk/rates-of-vat-on-different-goods-and-services">VAT rates on different goods and services</a>
				</li>
			</ul></nav><nav class="index-list" aria-labelledby="registering-and-getting-started"><h1 id="registering-and-getting-started">Registering and getting started</h1>
			<ul>
<li>
					<a href="https://www.gov.uk/vat-registration">VAT registration</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-registration-thresholds">VAT registration thresholds</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-record-keeping">VAT record keeping</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-annual-accounting-scheme">VAT Annual Accounting Scheme</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-cash-accounting-scheme">VAT Cash Accounting Scheme</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-flat-rate-scheme">VAT Flat Rate Scheme </a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-margin-schemes">VAT margin schemes</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-retail-schemes">VAT retail schemes</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-registration-for-groups-divisions-and-joint-ventures">VAT registration for groups, divisions and joint ventures</a>
				</li>
			</ul></nav><nav class="index-list" aria-labelledby="charging-vat"><h1 id="charging-vat">Charging VAT</h1>
			<ul>
<li>
					<a href="https://www.gov.uk/vat-businesses">Businesses and charging VAT</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-costs-or-disbursements-passed-to-customers">VAT: costs or disbursements passed to customers</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-instalments-deposits-credit-sales">VAT: instalments, deposits, credit sales</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-private-use-and-self-supply-of-goods-and-services">VAT: private use and self-supply of goods and services</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-self-billing-arrangements">VAT: self-billing arrangements</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-exemption-and-partial-exemption">VAT: exemption and partial exemption</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-capital-goods-scheme-and-capital-assets">VAT: Capital Goods Scheme and capital assets</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-lost-stolen-damaged-or-destroyed-goods">VAT: lost, stolen, damaged or destroyed goods</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-get-clearance-on-the-rules-for-complex-transactions">VAT: get clearance on the rules for complex transactions</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-part-exchanges-barters-and-set-offs">VAT: part-exchanges, barters and set-offs</a>
				</li>
				<li>
					<a href="https://www.gov.uk/register-and-use-the-vat-mini-one-stop-shop">Register for and use the VAT Mini One Stop Shop</a>
				</li>
				<li>
					<a href="https://www.gov.uk/government/publications/vat-supplying-digital-services-and-the-vat-mini-one-stop-shop">VAT: supplying digital services and the VAT Mini One Stop Shop</a>
				</li>
			</ul></nav><nav class="index-list" aria-labelledby="submitting-returns-paying-and-repayments"><h1 id="submitting-returns-paying-and-repayments">Submitting returns, paying and repayments</h1>
			<ul>
<li>
					<a href="https://www.gov.uk/vat-returns">VAT Returns</a>
				</li>
				<li>
					<a href="https://www.gov.uk/reclaim-vat">Reclaiming VAT</a>
				</li>
				<li>
					<a href="https://www.gov.uk/fuel-scale-charge">Work out your VAT fuel scale charge</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-repayments">VAT repayments</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-corrections">Correct errors on your VAT Returns</a>
				</li>
				<li>
					<a href="https://www.gov.uk/send-vat-return">Log in to use VAT online services</a>
				</li>
				<li>
					<a href="https://www.gov.uk/pay-vat">Pay your VAT bill</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-visits-inspections">VAT visits and inspections</a>
				</li>
				<li>
					<a href="https://www.gov.uk/insolvency-and-your-vat">Insolvency and your VAT</a>
				</li>
			</ul></nav><nav class="index-list" aria-labelledby="importing-goods-and-services"><h1 id="importing-goods-and-services">Importing goods and services</h1>
			<ul>
<li>
					<a href="https://www.gov.uk/starting-to-import">Starting to import</a>
				</li>
				<li>
					<a href="https://www.gov.uk/economic-operator-registration-and-identification-eori-scheme">Economic Operator Registration and Identification scheme</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-imports-acquisitions-and-purchases-from-abroad">VAT: imports, acquisitions and purchases from abroad</a>
				</li>
				<li>
					<a href="https://www.gov.uk/how-to-value-your-imports-for-customs-duty-and-trade-statistics">How to value your imports for customs duty and trade statistics</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-and-import-duty-reducing-financial-guarantees">VAT and import duty: reducing financial guarantees</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-relief-goods-imported-then-supplied-to-another-eu-country">VAT relief: goods imported then supplied to another EU country</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-refunds-for-uk-businesses-buying-from-other-eu-countries">VAT: refunds for UK businesses buying from other EU countries</a>
				</li>
				<li>
					<a href="https://www.gov.uk/importing-vehicles-into-the-uk">Importing vehicles into the UK</a>
				</li>
				<li>
					<a href="https://www.gov.uk/telling-hmrc-youre-importing-multiple-vehicles">Telling HMRC you’re importing multiple vehicles</a>
				</li>
				<li>
					<a href="https://www.gov.uk/government/publications/notification-of-multiple-heavy-commercial-vehicles-brought-into-the-uk">Notification of multiple heavy commercial vehicles brought into the UK</a>
				</li>
			</ul></nav><nav class="index-list" aria-labelledby="exporting-goods-and-services"><h1 id="exporting-goods-and-services">Exporting goods and services</h1>
			<ul>
<li>
					<a href="https://www.gov.uk/starting-to-export">Starting to export</a>
				</li>
				<li>
					<a href="https://www.gov.uk/economic-operator-registration-and-identification-eori-scheme">Economic Operator Registration and Identification scheme</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-exports-dispatches-and-supplying-goods-abroad">VAT: exports, dispatches and supplying goods abroad</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-how-to-work-out-your-place-of-supply-of-services">VAT: how to work out your place of supply of services</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-how-to-report-your-eu-sales">VAT: how to report your EU sales</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-eu-country-codes-vat-numbers-and-vat-in-other-languages">VAT: EU country codes, VAT numbers and VAT in other languages</a>
				</li>
				<li>
					<a href="https://www.gov.uk/taking-vehicles-out-of-uk">Taking a vehicle out of the UK</a>
				</li>
			</ul></nav><nav class="index-list" aria-labelledby="uk-vat-for-overseas-businesses"><h1 id="uk-vat-for-overseas-businesses">UK VAT for overseas businesses</h1>
			<ul>
<li>
					<a href="https://www.gov.uk/vat-what-to-do-if-youre-an-overseas-business-selling-goods-in-the-uk">VAT: what to do if you’re an overseas business selling goods in the UK</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-eu-businesses-buying-in-the-uk-and-the-vat-refund-scheme">VAT: EU businesses buying in the UK and the VAT refund scheme</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-refunds-for-non-eu-businesses-visiting-the-uk">VAT: refunds for non-EU businesses visiting the UK</a>
				</li>
			</ul></nav><nav class="index-list" aria-labelledby="rules-for-particular-trades"><h1 id="rules-for-particular-trades">Rules for particular trades</h1>
			<ul>
<li>
					<a href="https://www.gov.uk/vat-builders">VAT for builders</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-motor-dealers">VAT when you buy a vehicle to sell on</a>
				</li>
				<li>
					<a href="https://www.gov.uk/vat-vehicle-sales">VAT when you sell a vehicle</a>
				</li>
				<li>
					<a href="https://www.gov.uk/foreign-currency-transactions-vat-and-tour-operators">Foreign currency transactions, VAT and Tour Operators</a>
				</li>
			</ul></nav><nav class="index-list" aria-labelledby="vat-notices-notes-and-information-sheets"><h1 id="vat-notices-notes-and-information-sheets">VAT notices, notes and information sheets</h1>
			<ul>
<li>
					<a href="https://www.gov.uk/government/collections/vat-notices-alphabetical-order">VAT Notices: alphabetical order</a>
				</li>
				<li>
					<a href="https://www.gov.uk/government/collections/vat-notices-numerical-order">VAT Notices: numerical order</a>
				</li>
				<li>
					<a href="https://www.gov.uk/government/publications/vat-notice-700-the-vat-guide">VAT Notice 700: the VAT guide</a>
				</li>
				<li>
					<a href="https://www.gov.uk/government/collections/vat-notes">VAT Notes</a>
				</li>
				<li>
					<a href="https://www.gov.uk/government/collections/vat-information-sheets">VAT Information Sheets</a>
				</li>
			</ul></nav><nav class="index-list" aria-labelledby="news-forms-and-other-reference-material"><h1 id="news-forms-and-other-reference-material">News, forms and other reference material</h1>
			<ul>
<li>
					<a href="https://www.gov.uk/government/collections/vat-news-and-updates">VAT news and updates</a>
				</li>
				<li>
					<a href="https://www.gov.uk/government/collections/vat-forms">VAT forms</a>
				</li>
				<li>
					<a href="https://www.gov.uk/government/collections/vat-manuals">VAT manuals</a>
				</li>
				<li>
					<a href="https://www.gov.uk/government/collections/revenue-and-customs-briefs">Revenue and Customs Briefs</a>
				</li>
				<li>
					<a href="https://www.gov.uk/government/collections/rates-of-exchange-for-vat">Rates of exchange for VAT</a>
				</li>
				<li>
					<a href="https://www.gov.uk/government/collections/vat-tribunal-reports-and-appeal-updates">VAT tribunal reports and appeal updates</a>
				</li>
			</ul></nav>
</div>

			<!-- report_a_problem -->
<div class="report-a-problem-toggle-wrapper js-footer"><p class="report-a-problem-toggle"><a href="">Is there anything wrong with this page?</a></p></div><div class="report-a-problem-container">
	<div class="report-a-problem-inner">
		<div class="report-a-problem-content">
			<h2>Help us improve GOV.UK</h2>
			<form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
				<div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
				<input id="url" name="url" type="hidden" value="https://www.gov.uk/business-tax/vat"><input id="source" name="source" type="hidden" value=""><input id="page_owner" name="page_owner" type="hidden" value=""><p>Please don't include any personal or financial information,
					for example your National Insurance or credit card numbers.</p>

				<label for="what_doing">What you were doing</label>
				<input id="what_doing" name="what_doing" type="text"><label for="what_wrong">What went wrong</label>
				<input id="what_wrong" name="what_wrong" type="text"><div class="button-wrapper">
					<button name="commit" type="submit" class="button">Send</button>
				</div>

				<!--<p>If you have more extensive feedback, please visit the <a href="/feedback">support page</a>.</p>-->
			<input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://gov-uk.atlassian.net/wiki/pages/viewpage.action?pageId=10584900&amp;focusedCommentId=16023611"></form>
		</div>
	</div>
</div>
<!-- end report_a_problem -->
	
