<header class="page-header group">
<div>
<h1>Examples</h1>
</div>
</header>

<div class="article-container group">
	<article role="article" class="group">
		<div class="inner">
			<p>Find me in app/views/examples/index.html.erb</p>
		</div>
</article>
</div>