

<!-- PAGE HEADING -->
<div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block">
    <h1 class="heading-48">
    <span>Worldwide</span>Find a British embassy, High Commission or Consulate</h1>
    <h1 class="a-z-heading">A&ndash;Z</h1>
    </div>
  </div>
</div>

<div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block embassy-listing">


<h1>Afghanistan</h1>
<ul>
<li>
  <h2>Kabul</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-kabul#contact-us">British Embassy Kabul</a></li>
  </ul>
</li>
</ul>


<h1>Albania</h1>
<ul>
<li>
  <h2>Tirana</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-tirana/office/british-embassy">British Embassy Tirana</a></li>
  </ul>
</li>
</ul>


<h1>Algeria</h1>
<ul>
<li>
  <h2>Algiers</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-algiers/office/british-embassy-algiers-main-contact">British Embassy Algiers</a></li>
  </ul>
</li>
</ul>

<h1>American Samoa</h1>
<ul>
<li>
  <p>Consular assistance for American Samoa is handled by the USA.</p>
  <h2>Los Angeles, USA</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/organisations/british-consulate-general-los-angeles/office/british-consulate-general-los-angeles">British Consulate General Los Angeles</a></li>
  </ul>
</li>
</ul>

<h1>Andorra</h1>
<ul>
<li>
  <p>Consular assistance for Andorra is handled by Spain.</p>
  <h2>Madrid, Spain</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-madrid/office/british-embassy">British Embassy Madrid</a></li>
  </ul>
</li>
</ul>

<h1>Angola</h1>
<ul>
<li>
<h2>Caixa</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-luanda/office/british-embassy-luanda">British Embassy Luanda</a></li>
</ul>
</ul>

<h1>Anguilla</h1>
<ul>
<li>
<h2>The Valley</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/the-governors-office-anguilla#contact-us">The Governor's Office, Anguilla</a></li>
</ul>
</li>
</ul>

<h1>Antigua and Barbuda</h1>
<ul>
<li>
  <p>Consular assistance for Antigua and Barbuda is handled by Barbados.</p>
  <h2>Bridgetown, Barbados</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-barbados#contact-us">British High Commission Bridgetown</a></li>
  </ul>
</li>

</ul>
</li>
</ul>


<h1>Argentina</h1>
<ul>
<li>
<h2>Buenos Aires</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-buenos-aires/office/british-embassy-argentina">British Embassy Buenos Aires</a></li>
</ul>
</li>
</ul>

<h1>Armenia</h1>
<ul>
<li>
<h2>Yerevan</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-yerevan/office/british-embassy">British Embassy Yerevan</a></li>
</ul>
</li>
</ul>

<h1>Aruba</h1>
<ul>
<li>
<p>Consular assistance for Aruba is handled by The Netherlands.</p>
<h2>Amsterdam, The Netherlands</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/british-consulate-general-amsterdam/office/british-consulate-general-amsterdam">British Consulate General Amsterdam</a></li>
</ul>
</li>
</ul>

<h1>Australia</h1>
<ul>

<li>
<h2>Canberra</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-canberra#contact-us">British High Commission Canberra</a></li>
</ul>
</li>

<li>
<h2>Sydney</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-canberra#contact-us">British Consulate-General Sydney</a></li>
</ul>
</li>

<li>
<h2>Melbourne</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-canberra#contact-us">British Consulate-General Melbourne</a></li>
</ul>
</li>

<li>
<h2>Perth</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-canberra#contact-us">British Consulate Perth</a></li>
</ul>
</li>

<li>
<h2>Brisbane</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-canberra#contact-us">British Consulate Brisbane</a></li>
</ul>
</li>
</ul>

<h1>Austria</h1>
<ul>
<li>
<h2>Vienna</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-vienna/office/british-embassy">British Embassy Vienna</a></li>
</ul>
</li>
</ul>

<h1>Azerbaijan</h1>
<ul>
<li>
<h2>Baku</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-baku/office/british-embassy-baku">British Embassy Baku</a></li>
</ul>
</li>
</ul>

<h1>Bahrain</h1>
<ul>
<li>
<h2>Manama</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-manama/office/british-embassy-manama-main-contact">British Embassy Manama</a></li>
</ul>
</li>
</ul>

<h1>Bangladesh</h1>
<ul>
<li>
<h2>Dhaka</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-dhaka/office/british-high-commission-dhaka">British High Commission Dhaka</a></li>
</ul>
</li>
</ul>

<h1>Barbados</h1>
<ul>
<li>
<h2>Bridgetown</h2>
<ul class="locations">
  <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-barbados#contact-us">British High Commission Bridgetown</a></li>
</ul>
</li>
</ul>

<h1>Belarus</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Belgium</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Belize</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Benin</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Bhutan</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Bolivia</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Bonaire/St Eustatius/Saba</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Bosnia and Herzegovina</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Botswana</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Brazil</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>British Virgin Islands</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Brunei</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Bulgaria</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Burkina Faso</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Burma</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Burundi</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cambodia</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cameroon</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Canada</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cape Verde</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cayman Islands</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Central African Republic</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Chad</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Chile</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>China</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Colombia</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Comoros</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Congo</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Costa Rica</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cote d&#x2019;Ivoire</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Croatia</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cuba</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cura&#xE7;ao</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cyprus</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Czech Republic</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>


<h1>&hellip;</h1>
<ul>
<li>
<h2>&nbsp;</h2>
<ul class="locations">
  <li>&nbsp;</li>
</ul>
</li>
</ul>

<h1>Z</h1>
<ul>
<li>
<h2>&nbsp;</h2>
<ul class="locations">
  <li>&nbsp;</li>
</ul>
</li>
</ul>



    </div>
  </div>
</div>

<!-- GRID: TWO THIRDS / ONE THIRD -->
<!-- <div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block">
      <div class="a-z">
      <h2 class="heading-36">A–Z</h2>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="inner-block">

      <div class="country"><h2>Afghanistan</h2></div>
      <div class="region">
        <ol>
          <li>Kabul</li>
        </ol>
      </div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Kabul</a></li>
        </ol>
      </div>

      <div class="country"><h2>Albania</h2></div>
      <div class="region"><ol>
        <li>Tirana</li>
      </ol></div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Tirana</a></li>
        </ol>
      </div>

      <div class="country"><h2>Algeria</h2></div>
      <div class="region">
      <ol>
        <li>Algiers</li>
      </ol></div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Algiers</a></li>
        </ol>
      </div>

      <div class="country"><h2>American Samoa</h2></div>
      <div class="region">
      <ol>
        <li>Los Angeles</li>
      </ol>
      </div>
      <div class="locations">
        <ol>
          <li><a href="#">British Consulate General Los Angeles</a></li>
        </ol>
      </div>

      <div class="country"><h2>Andorra</h2></div>
      <div class="region">
        <ol>
          <li>Madrid</li>
          <li>&nbsp;</li>
          <li>Alicante</li>
          <li>Barcelona</li>
          <li>Ibiza</li>
          <li>Gran Canaria</li>
          <li>Malaga</li>
          <li>Mallorca</li>
          <li>Tenerife</li>
        </ol>
      </div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Madrid</a></li>
          <li><a href="#">British Consulate General Madrid</a></li>
          <li><a href="#">British Consulate Alicante</a></li>
          <li><a href="#">British Consulate General Barcelona</a></li>
          <li><a href="#">British Consulate Ibiza</a></li>
          <li><a href="#">British Consulate Las Palmas de Gran Canaria</a></li>
          <li><a href="#">British Consulate Malaga</a></li>
          <li><a href="#">British Consulate Palma de Mallorca</a></li>
          <li><a href="#">British Consulate Santa Cruz de Tenerife</a></li>
        </ol>
      </div>


    </div>
  </div>
</div> -->
<!-- / GRID: TWO THIRDS / ONE THIRD -->
