

<!-- PAGE HEADING -->
<div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block">
    <h1 class="heading-48">
    <span class="heading-27">Worldwide</span>Find a British embassy, High Commission or Consulate</h1>
    </div>
  </div>
</div>



<!-- GRID: TWO THIRDS / ONE THIRD -->
<div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block">
      <div class="a-z">
      <h2 class="heading-36">A–Z</h2>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="inner-block">

      <div class="country"><h2>Afghanistan</h2></div>
      <div class="region">
        <ol>
          <li>Kabul</li>
        </ol>
      </div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Kabul</a></li>
        </ol>
      </div>

      <div class="country"><h2>Albania</h2></div>
      <div class="region"><ol>
        <li>Tirana</li>
      </ol></div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Tirana</a></li>
        </ol>
      </div>

      <div class="country"><h2>Algeria</h2></div>
      <div class="region">
      <ol>
        <li>Algiers</li>
      </ol></div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Algiers</a></li>
        </ol>
      </div>

      <div class="country"><h2>American Samoa</h2></div>
      <div class="region">
      <ol>
        <li>Los Angeles</li>
      </ol>
      </div>
      <div class="locations">
        <ol>
          <li><a href="#">British Consulate General Los Angeles</a></li>
        </ol>
      </div>

      <div class="country"><h2>Andorra</h2></div>
      <div class="region">
        <ol>
          <li>Madrid</li>
          <li>&nbsp;</li>
          <li>Alicante</li>
          <li>Barcelona</li>
          <li>Ibiza</li>
          <li>Gran Canaria</li>
          <li>Malaga</li>
          <li>Mallorca</li>
          <li>Tenerife</li>
        </ol>
      </div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Madrid</a></li>
          <li><a href="#">British Consulate General Madrid</a></li>
          <li><a href="#">British Consulate Alicante</a></li>
          <li><a href="#">British Consulate General Barcelona</a></li>
          <li><a href="#">British Consulate Ibiza</a></li>
          <li><a href="#">British Consulate Las Palmas de Gran Canaria</a></li>
          <li><a href="#">British Consulate Malaga</a></li>
          <li><a href="#">British Consulate Palma de Mallorca</a></li>
          <li><a href="#">British Consulate Santa Cruz de Tenerife</a></li>
        </ol>
      </div>


    </div>
  </div>
</div>
<!-- / GRID: TWO THIRDS / ONE THIRD -->
