

<!-- PAGE HEADING -->
<div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block">
    <h1 class="heading-48">
    <span>Worldwide</span>Find a British embassy, High Commission or Consulate</h1>
    </div>
  </div>
</div>

<div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block embassy-listing">

      <span class="a-z-heading"><h1>A&ndash;Z</h1></span>

      <h1>Afghanistan</h1>
      <ul>
      <li>
        <h2>Kabul</h2>
        <ul class="locations">
          <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-kabul#contact-us">British Embassy Kabul</a></li>
        </ul>
      </li>
      </ul>


      <h1>Albania</h1>
      <ul>
      <li>
        <h2>Tirana</h2>
        <ul class="locations">
          <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-tirana/office/british-embassy">British Embassy Tirana</a></li>
        </ul>
      </li>
      </ul>


      <h1>Algeria</h1>
      <ul>
      <li>
        <h2>Algiers</h2>
        <ul class="locations">
          <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-algiers/office/british-embassy-algiers-main-contact">British Embassy Algiers</a></li>
        </ul>
      </li>
      </ul>

      <h1>American Samoa</h1>
      <ul>
      <li>
        <p>Consular assistance for American Samoa is handled by the USA.</p>
        <h2>Los Angeles, USA</h2>
        <ul class="locations">
          <li><a href="https://www.gov.uk/government/world/organisations/british-consulate-general-los-angeles/office/british-consulate-general-los-angeles">British Consulate General Los Angeles</a></li>
        </ul>
      </li>
      </ul>

      <h1>Andorra</h1>
      <ul>
      <li>
        <p>Consular assistance for Andorra is handled by Spain.</p>
        <h2>Madrid, Spain</h2>
        <ul class="locations">
          <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-madrid/office/british-embassy">British Embassy Madrid</a></li>
        </ul>
      </li>
      </ul>

      <h1>Angola</h1>
      <ul>
      <li>
      <h2>Caixa</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-luanda/office/british-embassy-luanda">British Embassy Luanda</a></li>
      </ul>
      </ul>

      <h1>Anguilla</h1>
      <ul>
      <li>
      <h2>The Valley</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/the-governors-office-anguilla#contact-us">The Governor's Office, Anguilla</a></li>
      </ul>
      </li>
      </ul>

      <h1>Antigua and Barbuda</h1>
      <ul>
      <li>
        <p>Consular assistance for Antigua and Barbuda is handled by Barbados.</p>
        <h2>Bridgetown, Barbados</h2>
        <ul class="locations">
          <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-barbados#contact-us">British High Commission Bridgetown</a></li>
        </ul>
      </li>

      </ul>
      </li>
      </ul>


      <h1>Argentina</h1>
      <ul>
      <li>
      <h2>Buenos Aires</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-buenos-aires/office/british-embassy-argentina">British Embassy Buenos Aires</a></li>
      </ul>
      </li>
      </ul>

      <h1>Armenia</h1>
      <ul>
      <li>
      <h2>Yerevan</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-yerevan/office/british-embassy">British Embassy Yerevan</a></li>
      </ul>
      </li>
      </ul>

      <h1>Aruba</h1>
      <ul>
      <li>
      <p>Consular assistance for Aruba is handled by The Netherlands.</p>
      <h2>Amsterdam, The Netherlands</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-consulate-general-amsterdam/office/british-consulate-general-amsterdam">British Consulate General Amsterdam</a></li>
      </ul>
      </li>
      </ul>

      <h1>Australia</h1>
      <ul>

      <li>
      <h2>Canberra</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-canberra#contact-us">British High Commission Canberra</a></li>
      </ul>
      </li>

      <li>
      <h2>Sydney</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-canberra#contact-us">British Consulate-General Sydney</a></li>
      </ul>
      </li>

      <li>
      <h2>Melbourne</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-canberra#contact-us">British Consulate-General Melbourne</a></li>
      </ul>
      </li>

      <li>
      <h2>Perth</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-canberra#contact-us">British Consulate Perth</a></li>
      </ul>
      </li>

      <li>
      <h2>Brisbane</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-canberra#contact-us">British Consulate Brisbane</a></li>
      </ul>
      </li>
      </ul>

      <h1>Austria</h1>
      <ul>
      <li>
      <h2>Vienna</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-vienna/office/british-embassy">British Embassy Vienna</a></li>
      </ul>
      </li>
      </ul>

      <h1>Azerbaijan</h1>
      <ul>
      <li>
      <h2>Baku</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-baku/office/british-embassy-baku">British Embassy Baku</a></li>
      </ul>
      </li>
      </ul>

      <h1>Bahrain</h1>
      <ul>
      <li>
      <h2>Manama</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-manama/office/british-embassy-manama-main-contact">British Embassy Manama</a></li>
      </ul>
      </li>
      </ul>

      <h1>Bangladesh</h1>
      <ul>
      <li>
      <h2>Dhaka</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-dhaka/office/british-high-commission-dhaka">British High Commission Dhaka</a></li>
      </ul>
      </li>
      </ul>

      <h1>Barbados</h1>
      <ul>
      <li>
      <h2>Bridgetown</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-barbados#contact-us">British High Commission Bridgetown</a></li>
      </ul>
      </li>
      </ul>

      <h1>Belarus</h1>
      <ul>
      <li>
      <h2>Minsk</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-minsk/office/british-embassy">British Embassy Minsk</a></li>
      </ul>
      </li>
      </ul>

      <h1>Belgium</h1>
      <ul>
      <li>
      <h2>Brussels</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-brussels/office/british-embassy">British Embassy Brussels</a></li>
      </ul>
      </li>
      </ul>

      <h1>Belize</h1>
      <ul>
      <li>
      <h2>Belmopan</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-belmopan/office/british-high-commission-belize">British High Commission Belize</a></li>
      </ul>
      </li>
      </ul>

      <h1>Benin</h1>
      <ul>
      <li>
      <p>Consular assistance for Benin is handled by Ghana.</p>
      <h2>Accra, Ghana</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-accra/office/british-high-commission-accra">British High Commission Accra</a></li>
      </ul>
      </li>
      </ul>

      <h1>Bhutan</h1>
      <ul>
      <li>
      <p>Consular assistance for Bhutan is handled by India.</p>
      <h2>Kolkata, India</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-deputy-high-commission-kolkata/office/british-deputy-high-commission-kolkata">British Deputy High Commission Kolkata</a></li>
      </ul>
      </li>
      </ul>

      <h1>Bolivia</h1>
      <ul>
      <li>
      <h2>La Paz</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-bolivia/office/british-embassy-la-paz">British Embassy La Paz</a></li>
      </ul>
      </li>
      </ul>

      <h1>Bonaire/St Eustatius/Saba</h1>
      <ul>
      <li>
      <p>Consular assistance for Bonaire/St Eustatius/Saba is handled by The Netherlands.</p>
      <h2>Amsterdam, The Netherlands</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-consulate-general-amsterdam/office/british-consulate-general-amsterdam">British Consulate General Amsterdam</a></li>
      </ul>
      </li>
      </ul>

      <h1>Bosnia and Herzegovina</h1>
      <ul>
      <li>
      <h2>Sarajevo</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-sarajevo/office/british-embassy-front-office-chancery-political-projects-press">British Embassy Sarajevo</a></li>
      </ul>
      </li>
      </ul>

      <h1>Botswana</h1>
      <ul>
      <li>
      <h2>Gaborone</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-gaborone/office/british-high-commission-gaborone">British High Commission Gaborone</a></li>
      </ul>
      </li>
      </ul>

      <h1>Brazil</h1>
      <ul>

      <li>
      <h2>Brasilia</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-brazil/office/british-embassy-brasilia">British Embassy Brasilia</a></li>
      </ul>
      </li>

      <li>
      <h2>S&#xE3;o Paulo</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-consulate-general-sao-paulo/office/british-consulate-general-sao-paulo">British Consulate-General S&#xE3;o Paulo</a></li>
      </ul>
      </li>

      <li>
      <h2>Rio de Janeiro</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-consulate-general-rio-de-janeiro/office/british-consulate-general-rio-de-janeiro">British Consulate-General Rio de Janeiro</a></li>
      </ul>
      </li>


      <li>
      <h2>Recife</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-consulate-general-recife/office/british-consulate-general-recife">British Consulate-General Recife</a></li>
      </ul>
      </li>

      </ul>


      <h1>Brunei</h1>
      <ul>
      <li>
      <h2>Brunei</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-bandar-seri-begawan/office/british-high-commission-bandar-seri-begawan">British High Commission Bandar Seri Begawan</a></li>
      </ul>
      </li>
      </ul>

      <h1>Bulgaria</h1>
      <ul>
      <li>
      <h2>Sofia</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-sofia/office/british-embassy">British Embassy Sofia</a></li>
      </ul>
      </li>
      </ul>

      <h1>Burkina Faso</h1>
      <ul>
      <li>
      <p>Consular assistance for Burkina Faso is handled by Ghana.</p>
      <h2>Accra, Ghana</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-accra/office/british-high-commission-accra">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Burma</h1>
      <ul>
      <li>
      <h2>Rangoon</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-rangoon/office/british-embassy-rangoon">British Embassy Rangoon</a></li>
      </ul>
      </li>
      </ul>

      <h1>Burundi</h1>
      <ul>
      <li>
      <h2>Bujumbura</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-liaison-office-bujumbura/office/british-embassy-liaison-office-bujumbura">British Embassy Liaison Office Bujumbura</a></li>
      </ul>
      </li>

      <li>
      <p>Consular assistance for Burundi is also handled by Rwanda.</p>
      <h2>Kigali, Rwanda</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-kigali/office/british-high-commission-kigali">British High Commission Kigali</a></li>
      </ul>
      </li>
      </ul>

      <h1>Cambodia</h1>
      <ul>
      <li>
      <h2>Phnom Penh</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-phnom-penh/office/british-embassy-phnom-penh">British Embassy Phnom Penh</a></li>
      </ul>
      </li>
      </ul>

      <!-- <h1>Cameroon</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Canada</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Cape Verde</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Cayman Islands</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Central African Republic</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Chad</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Chile</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>China</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Colombia</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Comoros</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Congo</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Costa Rica</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Cote d&#x2019;Ivoire</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Croatia</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Cuba</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Cura&#xE7;ao</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Cyprus</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul>

      <h1>Czech Republic</h1>
      <ul>
      <li>
      <h2>City name</h2>
      <ul class="locations">
        <li><a href="URL_TBC">Post name</a></li>
      </ul>
      </li>
      </ul> -->


      <h1>&hellip;</h1>
      <ul>
      <li>
      <h2>&nbsp;</h2>
      <ul class="locations">
        <li>&nbsp;</li>
      </ul>
      </li>
      </ul>

      <h1>Zimbabwe</h1>
      <ul>
      <li>
      <h2>Harare</h2>
      <ul class="locations">
        <li><a href="https://www.gov.uk/government/world/organisations/british-embassy-harare/office/british-embassy-harare">British Embassy Harare</a></li>
      </ul>
      </li>
      </ul>



    </div>
  </div>
</div>
