

<!-- PAGE HEADING -->
<div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block">
    <h1 class="heading-48">
    <span>Worldwide</span>Find a British embassy, High Commission or Consulate</h1>
    <h1 class="a-z-heading">A&ndash;Z</h1>
    </div>
  </div>
</div>

<div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block embassy-listing">


<h1>Afghanistan</h1>
<ul>
<li>
  <h2>Kabul</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/afghanistan#organisations">British Embassy Kabul</a></li>
  </ul>
</li>
</ul>


<h1>Albania</h1>
<ul>
<li>
  <h2>Tirana</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/albania#organisations">British Embassy Tirana</a></li>
  </ul>
</li>
</ul>


<h1>Algeria</h1>
<ul>
<li>
  <h2>Algiers</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/algeria#organisations">British Embassy Algiers</a></li>
  </ul>
</li>
</ul>

<h1>American Samoa</h1>
<ul>
<li>
  <h2>Los Angeles</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/american-samoa#organisations">British Consulate General Los Angeles</a></li>
  </ul>
</li>
</ul>

<h1>Andorra</h1>
<ul>
  <li>
    <p>Consular assistance for Andorra is handled in various locations in Spain:</p>
    <h2>Alicante</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate Alicante</a></li>
    </ul>
  </li>

  <li>
    <h2>Barcelona</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate General Barcelona</a></li>
    </ul>
  </li>

  <li>
    <h2>Ibiza</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate Ibiza</a></li>
    </ul>
  </li>

  <li>
    <h2>Las Palmas de Gran Canaria</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate Las Palmas de Gran Canaria</a></li>
    </ul>
  </li>

  <li>
    <h2>Madrid</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Embassy Madrid</a></li>
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate General Madrid</a></li>
    </ul>
  </li>

  <li>
    <h2>Malaga</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate Malaga</a></li>
    </ul>
  </li>

  <li>
    <h2>Palma de Mallorca</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate Palma de Mallorca</a></li>
    </ul>
  </li>

  <li>
    <h2>Santa Cruz de Tenerife</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate Santa Cruz de Tenerife</a></li>
    </ul>
  </li>
</ul>

<h1>Angola</h1>
<ul>
<li>
<h2>Caixa</h2>
<ul class="locations">
  <li><a href="URL_TBC">British Embassy Luanda</a></li>
</ul>
</ul>

<h1>Anguilla</h1>
<ul>
<li>
<h2>The Valley</h2>
<ul class="locations">
  <li><a href="URL_TBC">The Governor's Office, Anguilla</a></li>
</ul>
</li>
</ul>

<h1>Antigua and Barbuda</h1>
<ul>
<li>
  <p>Consular assistance for Antigua and Barbuda is handled in Barbados:</p>
  <h2>Bridgetown, Barbados</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-barbados#contact-us">British High Commission Bridgetown</a></li>
  </ul>
</li>
<!--
<li>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/organisations/british-high-commission-barbados#contact-us">Honorary British Consul Antigua and Barbuda</a></li>
  </ul>
</li> -->

</ul>
</li>
</ul>


<h1>Argentina</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Armenia</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Aruba</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Australia</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Austria</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Azerbaijan</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Bahrain</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Bangladesh</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Barbados</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Belarus</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Belgium</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Belize</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Benin</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Bhutan</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Bolivia</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Bonaire/St Eustatius/Saba</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Bosnia and Herzegovina</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Botswana</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Brazil</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>British Virgin Islands</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Brunei</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Bulgaria</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Burkina Faso</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Burma</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Burundi</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cambodia</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cameroon</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Canada</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cape Verde</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cayman Islands</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Central African Republic</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Chad</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Chile</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>China</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Colombia</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Comoros</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Congo</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Costa Rica</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cote d&#x2019;Ivoire</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Croatia</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cuba</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cura&#xE7;ao</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Cyprus</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>

<h1>Czech Republic</h1>
<ul>
<li>
<h2>City name</h2>
<ul class="locations">
  <li><a href="URL_TBC">Post name</a></li>
</ul>
</li>
</ul>



    </div>
  </div>
</div>

<!-- GRID: TWO THIRDS / ONE THIRD -->
<!-- <div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block">
      <div class="a-z">
      <h2 class="heading-36">A–Z</h2>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="inner-block">

      <div class="country"><h2>Afghanistan</h2></div>
      <div class="region">
        <ol>
          <li>Kabul</li>
        </ol>
      </div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Kabul</a></li>
        </ol>
      </div>

      <div class="country"><h2>Albania</h2></div>
      <div class="region"><ol>
        <li>Tirana</li>
      </ol></div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Tirana</a></li>
        </ol>
      </div>

      <div class="country"><h2>Algeria</h2></div>
      <div class="region">
      <ol>
        <li>Algiers</li>
      </ol></div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Algiers</a></li>
        </ol>
      </div>

      <div class="country"><h2>American Samoa</h2></div>
      <div class="region">
      <ol>
        <li>Los Angeles</li>
      </ol>
      </div>
      <div class="locations">
        <ol>
          <li><a href="#">British Consulate General Los Angeles</a></li>
        </ol>
      </div>

      <div class="country"><h2>Andorra</h2></div>
      <div class="region">
        <ol>
          <li>Madrid</li>
          <li>&nbsp;</li>
          <li>Alicante</li>
          <li>Barcelona</li>
          <li>Ibiza</li>
          <li>Gran Canaria</li>
          <li>Malaga</li>
          <li>Mallorca</li>
          <li>Tenerife</li>
        </ol>
      </div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Madrid</a></li>
          <li><a href="#">British Consulate General Madrid</a></li>
          <li><a href="#">British Consulate Alicante</a></li>
          <li><a href="#">British Consulate General Barcelona</a></li>
          <li><a href="#">British Consulate Ibiza</a></li>
          <li><a href="#">British Consulate Las Palmas de Gran Canaria</a></li>
          <li><a href="#">British Consulate Malaga</a></li>
          <li><a href="#">British Consulate Palma de Mallorca</a></li>
          <li><a href="#">British Consulate Santa Cruz de Tenerife</a></li>
        </ol>
      </div>


    </div>
  </div>
</div> -->
<!-- / GRID: TWO THIRDS / ONE THIRD -->
