

<!-- PAGE HEADING -->
<div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block">
    <h1 class="heading-48">
    <span>Worldwide</span>Find a British embassy, High Commission or Consulate</h1>
    </div>
  </div>
</div>

<div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block embassy-listing">


<h1>Afghanistan</h1>
<ul>
<li>
  <h2>Kabul</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/afghanistan#organisations">British Embassy Kabul</a></li>
  </ul>
</li>
</ul>


<h1>Albania</h1>
<ul>
<li>
  <h2>Tirana</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/albania#organisations">British Embassy Tirana</a></li>
  </ul>
</li>
</ul>


<h1>Algeria</h1>
<ul>
<li>
  <h2>Algiers</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/algeria#organisations">British Embassy Algiers</a></li>
  </ul>
</li>
</ul>

<h1>American Samoa</h1>
<ul>
<li>
  <h2>Los Angeles</h2>
  <ul class="locations">
    <li><a href="https://www.gov.uk/government/world/american-samoa#organisations">British Consulate General Los Angeles</a></li>
  </ul>
</li>
</ul>

<h1>Andorra</h1>
<ul>

  <li>
    <h2>Alicante</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate Alicante</a></li>
    </ul>
  </li>

  <li>
    <h2>Barcelona</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate General Barcelona</a></li>
    </ul>
  </li>

  <li>
    <h2>Ibiza</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate Ibiza</a></li>
    </ul>
  </li>

  <li>
    <h2>Las Palmas de Gran Canaria</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate Las Palmas de Gran Canaria</a></li>
    </ul>
  </li>

  <li>
    <h2>Madrid</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Embassy Madrid</a></li>
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate General Madrid</a></li>
    </ul>
  </li>

  <li>
    <h2>Malaga</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate Malaga</a></li>
    </ul>
  </li>

  <li>
    <h2>Palma de Mallorca</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate Palma de Mallorca</a></li>
    </ul>
  </li>

  <li>
    <h2>Santa Cruz de Tenerife</h2>
    <ul class="locations">
      <li><a href="https://www.gov.uk/government/world/andorra#organisations">British Consulate Santa Cruz de Tenerife</a></li>
    </ul>
  </li>
</ul>


    </div>
  </div>
</div>

<!-- GRID: TWO THIRDS / ONE THIRD -->
<!-- <div class="grid-wrapper">
  <div class="grid">
    <div class="inner-block">
      <div class="a-z">
      <h2 class="heading-36">A–Z</h2>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="inner-block">

      <div class="country"><h2>Afghanistan</h2></div>
      <div class="region">
        <ol>
          <li>Kabul</li>
        </ol>
      </div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Kabul</a></li>
        </ol>
      </div>

      <div class="country"><h2>Albania</h2></div>
      <div class="region"><ol>
        <li>Tirana</li>
      </ol></div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Tirana</a></li>
        </ol>
      </div>

      <div class="country"><h2>Algeria</h2></div>
      <div class="region">
      <ol>
        <li>Algiers</li>
      </ol></div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Algiers</a></li>
        </ol>
      </div>

      <div class="country"><h2>American Samoa</h2></div>
      <div class="region">
      <ol>
        <li>Los Angeles</li>
      </ol>
      </div>
      <div class="locations">
        <ol>
          <li><a href="#">British Consulate General Los Angeles</a></li>
        </ol>
      </div>

      <div class="country"><h2>Andorra</h2></div>
      <div class="region">
        <ol>
          <li>Madrid</li>
          <li>&nbsp;</li>
          <li>Alicante</li>
          <li>Barcelona</li>
          <li>Ibiza</li>
          <li>Gran Canaria</li>
          <li>Malaga</li>
          <li>Mallorca</li>
          <li>Tenerife</li>
        </ol>
      </div>
      <div class="locations">
        <ol>
          <li><a href="#">British Embassy Madrid</a></li>
          <li><a href="#">British Consulate General Madrid</a></li>
          <li><a href="#">British Consulate Alicante</a></li>
          <li><a href="#">British Consulate General Barcelona</a></li>
          <li><a href="#">British Consulate Ibiza</a></li>
          <li><a href="#">British Consulate Las Palmas de Gran Canaria</a></li>
          <li><a href="#">British Consulate Malaga</a></li>
          <li><a href="#">British Consulate Palma de Mallorca</a></li>
          <li><a href="#">British Consulate Santa Cruz de Tenerife</a></li>
        </ol>
      </div>


    </div>
  </div>
</div> -->
<!-- / GRID: TWO THIRDS / ONE THIRD -->
