// Place all the styles related to the embassies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.govuk {

  h1,
  h2 {
    font-weight: 700;
    display:block;
  }

  .embassy-listing {

    h1, h2 {
      clear: both;
      float: left;
      position: relative;
    }

    h1 {
      @include bold-27;
      width: 35%;
    }

    h2 {
      width:100%;
      margin-bottom:8px;
    }
  }

  ul {
    font-weight: 700;
    margin:4px 0 15px 0;
    list-style: none;
    display:block;
    float: left;
    position: relative;
    width: 65%;

    li {
      margin-bottom:8px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration:underline;
        }
      }
    }
  }

  ul.locations {
    display:block;
    float: left;
    position: relative;
    width: 100%;
    margin:0 0 30px 0;

    li {

    }
  }
}
