// Place all the styles related to the embassies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.govuk {

  h2 {
    font-weight: 700;
    display:block;
    clear:both;
    //float:left;
  }

  ul {
    font-weight: 700;
    //float: right;
    margin: 10px 0 40px 0;
    list-style: none;

    li {
      margin-bottom:10px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration:underline;
        }
      }
    }
  }

  ul.locations {
    //float:none;
  }
}
