// Place all the styles related to the foreigntraveladvice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading-48 {
	margin-top:25px;
	margin-bottom:45px;
}

.ruled {
	border-top:1px solid $grey-3;
}

img.map {
	width:100%;
	margin-top:20px;
}

.link_to_world {
	display:block;
	width:100%;
	margin-bottom:10px;
	font-weight:700;
	text-decoration:none;
}
.advice-status {
	display:block;
	margin-bottom:30px;
}

.more_details {
	display:block;
	margin-top:-15px;
}

.entry-and-exit {

	padding-top:15px;
	margin-top:35px;

	h1 {
		@include bold-24;
	}
}


nav li:before {
	content: "-";
	position: relative;
	float: left;
	width: 15px;
	margin-left: -15px;
}

nav li {
	@include core-16;
}

.title_intro {
	p {
		margin-bottom:10px;
	}
}

.visitor_info {

	padding-top:15px;

	h2 {
		@include bold-24;
	}

	p, li, a {
		@include core-16;
	}
}

ul li {
	list-style:disc;
	margin-left:18px;
}
