// Place all the styles related to the policies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.related_programmes,
.policies_list {

  margin-top: 40px;

  @include media(desktop) {
    margin-top: -10px;
  }

  li {
    @include bold-16;
    list-style:none;
    margin:0 0 15px 0;
  }

  a {
    text-decoration:none;
  }
}

.policy_area_summary,
.programme_summary {
  margin-top:40px;
}

.policies_list {
    margin-top:60px;

    li {
      margin:0 0 10px 0;
    }
}

#finder-frontend header {
  margin: 0;

  .email-link {
    margin-bottom: 30px;
  }
}

.with-separator {
  margin-top:25px;
  border-top:1px solid $grey-2;
}
