<%= javascript_include_tag "travel-advice.js" %>

<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid">
		<div class="inner-block">
		<h1 class="heading-48">Health conditions and driving</h1>
		</div>
	</div>
</div>


<!-- GRID: FULL WIDTH -->
<div class="grid-wrapper">
	<div class="grid">
		<div class="inner-block">
        <section id="conditions-filter" class="group">
        	<p>Find out if you need to tell DVLA about a health condition, then report if you do.</p>
          <form>
            <fieldset>
              <h1>Search for health conditions</h1>
              <label class='visuallyhidden' for="country">Country or territory</label>
              <input id="country" name="country" type="text" />
            </fieldset>
          </form>
        </section>
		
		<div class="conditions-wrapper">
        <div class="grid grid-1-3 conditions">
          <h1>Health conditions</h1>       
          <p class="health-conditions-count">
            <span class="js-filter-count">185</span>
            <span class="visuallyhidden">Countries or territories</span>
          </p>
        </div>

         <div class="grid grid-2-3 conditions-list">       
           <div id="A" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>A</h2>
           	<ul class="health-list">
           	  <li><a href=​"https:​/​/​www.gov.uk/​current-medical-guidelines-dvla-guidance-for-profess…-dvla-guidance-for-professionals-conditions-a-to-c#abscess---intracerebral">​Absces</a></li>​	
			  <li data-synonyms=""><a href="https://www.gov.uk/acoustic-neuroma-and-driving">Acoustic neuroma</a></li>
			  <li><a href=​"https:​/​/​www.gov.uk/​current-medical-guidelines-dvla-guidance-for-profess…edical-guidelines-dvla-guidance-for-professionals-conditions-a-to-c#acuity">​Acuity​</a></li>​
			  <li><a href=​"https:​/​/​www.gov.uk/​current-medical-guidelines-dvla-guidance-for-profess…-guidance-for-professionals-conditions-a-to-c#acute-coronary-syndromes-acs">​Acute coronary syndromes (ACS)​</a></li>​
			  <li><a href=​"https:​/​/​www.gov.uk/​current-medical-guidelines-dvla-guidance-for-profess…rofessionals-conditions-a-to-c#acute-encephalitic-illnesses-and-meningitis">​Acute encephalitic illnesses and meningitis​</a></li>​
			  <li><a href=​"https:​/​/​www.gov.uk/​current-medical-guidelines-dvla-guidance-for-profess…-for-professionals-conditions-a-to-c#acute-psychotic-disorders-of-any-type">​Acute psychotic disorders of any type​</a></li>​
			  <li data-synonyms=""><a href="https://www.gov.uk/addisons-disease-driving">Addison’s disease</a></li>
			  <li><a href=​"https:​/​/​www.gov.uk/​current-medical-guidelines-dvla-guidance-for-profess…elines-dvla-guidance-for-professionals-conditions-a-to-c#age-older-drivers">​Age (older drivers)​</a></li>​
              <li data-synonyms="Sahel"><a href="https://www.gov.uk/agoraphobia-and-driving">Agoraphobia</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/aids-and-driving">AIDS</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/alcohol-problems-and-driving">Alcohol problems</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/alzheimers-disease-and-driving">Alzheimer’s disease</a></li>
              <li><a href=​"https:​/​/​www.gov.uk/​current-medical-guidelines-dvla-guidance-for-profess…idelines-dvla-guidance-for-professionals-conditions-a-to-c#amaurosis-fugax">​Amaurosis Fugax​</a></li>​
              <li data-synonyms=""><a href="https://www.gov.uk/motor-neurone-disease-and-driving">Amyotrophic Lateral Sclerosisa</a></li>
              <li><a href=​"https:​/​/​www.gov.uk/​current-medical-guidelines-dvla-guidance-for-profess…-guidelines-dvla-guidance-for-professionals-conditions-a-to-c#amphetamines">​Amphetamines​</a></li>​
              <li data-synonyms=""><a href="https://www.gov.uk/amputations-and-driving">Amputations</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/aneurysm-and-driving">Aneurysm</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/angina-and-driving">Angina</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/angioma-and-driving">Angioma</a></li>
              <li><a href=​"https:​/​/​www.gov.uk/​current-medical-guidelines-dvla-guidance-for-profess…s-dvla-guidance-for-professionals-conditions-a-to-c#angiography---coronary">​Angiography - coronary​</a></li>​
              <li data-synonyms=""><a href="https://www.gov.uk/angioplasty-and-driving">Angioplasty</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/ankylosing-spondylitis-and-driving">Ankylosing spondylitis</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/eating-disorders-and-driving">Anorexia nervosa</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/anxiety-and-driving">Anxiety</a></li>
              <li><a href=​"https:​/​/​www.gov.uk/​current-medical-guidelines-dvla-guidance-for-profess…vla-guidance-for-professionals-conditions-a-to-c#aortic-dissection-chronic">​Aortic dissection (chronic)​</a></li>​
              <li><a href=​"https:​/​/​www.gov.uk/​current-medical-guidelines-dvla-guidance-for-profess…idelines-dvla-guidance-for-professionals-conditions-a-to-c#aortic-stenosis">​Aortic Stenosis​</a></li>​
              <li data-synonyms=""><a href="https://www.gov.uk/arachnoid-cyst-and-driving">Arachnoid cyst</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/arnold-chiari-malformation-and-driving">Arnold-Chiari malformation</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/arrhythmia-and-driving">Arrhythmia</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/arteriovenous-malformation-and-driving">Arteriovenous malformation</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/arthritis-and-driving">Arthritis</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/asperger-and-driving">Asperger syndrome</a></li>
              <li><a href=​"https:​/​/​www.gov.uk/​current-medical-guidelines-dvla-guidance-for-profess…edical-guidelines-dvla-guidance-for-professionals-conditions-a-to-c#asthma">​Asthma​</a></li>​
              <li><a href=​"https:​/​/​www.gov.uk/​current-medical-guidelines-dvla-guidance-for-profess…dance-for-professionals-conditions-a-to-c#atrial-defibrillator---automatic">​Atrial defibrillator - automatic​</a></li>​
              <li data-synonyms=""><a href="https://www.gov.uk/ataxia-and-driving">Ataxia</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/adhd-and-driving">Attention deficit/hyperactivity disorder (ADHD)</a></li>
              <li data-synonyms=""><a href="https://www.gov.uk/asd-and-driving">Autistic spectrum disorders (ASD)</a></li>
              </ul>
        </div>

          <div id="B" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>B</h2>
           	<ul class="health-list">
			  <li><a href="https://www.gov.uk/balloon-angioplasty-leg-and-driving">Balloon angioplasty (leg)</a></li>
			  <li><a href="https://www.gov.uk/bipolar-disorder-and-driving">Bipolar disorder</a></li>
			  <li><a href="https://www.gov.uk/blackouts-and-driving">Blackouts</a></li>
			  <li><a href="https://www.gov.uk/blepharospasm-and-driving">Blepharospasm</a></li>
			  <li><a href="https://www.gov.uk/blood-clots-and-driving">Blood clots</a></li>
			  <li><a href="https://www.gov.uk/blood-pressure-driving">Blood pressure</a></li>
			  <li><a href="https://www.gov.uk/brachial-plexus-and-driving">Brachial plexus</a></li>
			  <li><a href="https://www.gov.uk/brain-abscess-cyst-encephalitis-driving">Brain abscess, cyst or encephalitis</a></li>
              <li><a href="https://www.gov.uk/angioma-and-driving">Brain angioma</a></li>
              <li><a href="https://www.gov.uk/brain-haemorrhage-and-driving">Brain haemorrhage</a></li>
              <li><a href="https://www.gov.uk/brain-injury-and-driving">Brain injury (traumatic)</a></li>
			  <li><a href="https://www.gov.uk/brain-tumour-and-driving">Brain tumours</a></li>
			  <li><a href="https://www.gov.uk/branch-retinal-vein-occlusion-and-driving">Branch retinal vein occlusion</a></li>
			  <li><a href="https://www.gov.uk/broken-limbs-driving">Broken limbs and driving</a></li>
			  <li><a href="https://www.gov.uk/burr-hole-surgery-and-driving">Burr hole surgery</a></li>
              </ul>
        </div>

          <div id="C" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>C</h2>
           	<ul class="health-list">
			<li><a href="https://www.gov.uk/caesarean-section-and-driving">Caesarean section</a></li>
			<li><a href="https://www.gov.uk/cancer-and-driving">Cancer</a></li>
			<li><a href="https://www.gov.uk/cataracts-and-driving">Cataracts</a></li>
			<li><a href="https://www.gov.uk/catheter-ablation-and-driving">Catheter ablation</a></li>
			<li><a href="https://www.gov.uk/cardiac-problems-driving">Cardiac problems</a></li>
			<li><a href="https://www.gov.uk/carotid-artery-stenosis-and-driving">Carotid artery stenosis</a></li>
			<li><a href="https://www.gov.uk/cataplexy-and-driving">Cataplexy</a></li>
			<li><a href="https://www.gov.uk/cerebral-palsy-and-driving">Cerebral palsy</a></li>
			<li><a href="https://www.gov.uk/chronic-aortic-dissection-and-driving">Chronic aortic dissection</a></li>
			<li><a href="https://www.gov.uk/cognitive-problems-and-driving">Cognitive problems</a></li>
			<li><a href="https://www.gov.uk/congenital-heart-disease-and-driving">Congenital heart disease</a></li>
			<li><a href="https://www.gov.uk/convulsions-and-driving">Convulsions</a></li>
			<li><a href="https://www.gov.uk/coronary-artery-bypass-and-driving">Coronary artery bypass or disease</a></li>
			<li><a href="https://www.gov.uk/angioplasty-and-driving">Coronary angioplasty</a></li>
			<li><a href="https://www.gov.uk/cystic-fibrosis-and-driving">Cystic fibrosis</a></li>
             </ul>
        </div>

            <div id="D" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>D</h2>
           	<ul class="health-list">
			<li><a href="https://www.gov.uk/deafness-and-driving">Deafness</a></li>
			<li><a href="https://www.gov.uk/defibrillators-and-driving">Defibrillator</a></li>
			<li><a href="https://www.gov.uk/deja-vu-and-driving">Déjà vu</a></li>
			<li><a href="https://www.gov.uk/dementia-and-driving">Dementia</a></li>
			<li><a href="https://www.gov.uk/depression-and-driving">Depression</a></li>
			<li><a href="http://medical-dvla.herokuapp.com/diabetes_driving">Diabetes</a></li>
			<li><a href="https://www.gov.uk/dilated-cardiomyopathy-and-driving">Dilated cardiomyopathy</a></li>
			<li><a href="https://www.gov.uk/diplopia-and-driving">Diplopia (double vision)</a></li>
			<li><a href="https://www.gov.uk/dizziness-and-driving">Dizziness</a></li>
			<li><a href="https://www.gov.uk/drug-use-and-driving">Drug misuse</a></li>
            </ul>
        </div>

            <div id="E" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>E</h2>
           	<ul class="health-list">
			  <li><a href="https://www.gov.uk/eating-disorders-and-driving">Eating disorders</a></li>
		      <li><a href="https://www.gov.uk/empyema-and-driving">Empyema (brain)</a></li>
			  <li><a href="https://www.gov.uk/epilepsy-and-driving">Epilepsy</a></li>
			  <li><a href="https://www.gov.uk/benign-essential-tremor-and-driving">Essential tremor</a></li>
            </ul>
        </div>

            <div id="F" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>F</h2>
           	<ul class="health-list">
			<li><a href="https://www.gov.uk/blackouts-and-driving">Fainting</a></li>
			<li><a href="https://www.gov.uk/seizures-and-driving">Fits</a></li>
			<li><a href="https://www.gov.uk/head-injury-and-driving">Fractured skull</a></li>
			<li><a href="https://www.gov.uk/ataxia-and-driving">Friedrich’s ataxia</a></li>
            </ul>
        </div>

            <div id="G" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>G</h2>
           	<ul class="health-list">
			<li><a href="https://www.gov.uk/dizziness-and-driving">Giddiness (recurring)</a></li>
			<li><a href="/https://www.gov.uk/glaucoma-and-driving">Glaucoma</a></li>
			<li><a href="https://www.gov.uk/transient-global-amnesia-and-driving">Global amnesia</a></li>
			<li><a href="https://www.gov.uk/grand-mal-fits-and-driving">Grand mal fits</a></li>
			<li><a href="https://www.gov.uk/guillain-barre-syndrome-and-driving">Guillain-Barré syndrome</a></li>
            </ul>
        </div>

            <div id="H" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>H</h2>
           	<ul class="health-list">
			 <li><a href="https://www.gov.uk/head-injury-and-driving">Head injury</a></li>
				<li><a href="https://www.gov.uk/heart-attacks-and-driving">Heart attack</a></li>
				<li><a href="https://www.gov.uk/arrhythmia-and-driving">Heart arrhythmia</a></li>
				<li><a href="https://www.gov.uk/heart-failure-and-driving">Heart failure</a></li>
				<li><a href="https://www.gov.uk/heart-murmurs-and-driving">Heart murmurs</a></li>
				<li><a href="https://www.gov.uk/heart-palpitations-and-driving">Heart palpitations</a></li>
				<li><a href="https://www.gov.uk/hemianopia-and-driving">Hemianopia</a></li>
				<li><a href="https://www.gov.uk/high-blood-pressure-and-driving">High blood pressure</a></li>
				<li><a href="https://www.gov.uk/hiv-and-driving">HIV</a></li>
				<li><a href="https://www.gov.uk/hodgkins-lymphoma-and-driving">Hodgkin’s lymphoma</a><li><a href="https://www.gov.uk/huntingtons-disease-and-driving">Huntington’s disease</a></li>
				<li><a href="https://www.gov.uk/hydrocephalus-and-driving">Hydrocephalus</a></li>
				<li><a href="https://www.gov.uk/high-blood-pressure-and-driving">Hypertension</a></li>
				<li><a href="https://www.gov.uk/hypertrophic-cardiomyopathy-and-driving">Hypertrophic cardiomyopathy</a></li>
				<li><a href="https://www.gov.uk/hypoglycaemia-and-driving">Hypoglycaemia</a></li>
				<li><a href="https://www.gov.uk/hypoxic-brain-damage-and-driving">Hypoxic brain damage</a></li>
				<li><a href="https://www.gov.uk/hysterectomy-and-driving">Hysterectomy</a></li>
              </ul>
        </div>

            <div id="I" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>I</h2>
           	<ul class="health-list">
			  <li><a href="https://www.gov.uk/intracerebral-haemorrhage-and-driving">Intracerebral haemorrhage</a></li>
			  <li><a href="https://www.gov.uk/ischaemic-heart-disease-and-driving">Ischaemic heart disease</a></li>
             </ul>
        </div>

            <div id="K" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>K</h2>
           	<ul class="health-list">
			 <li><a href="https://www.gov.uk/kidney-dialysis-and-driving">Kidney dialysis</a></li>
			 <li><a href="https://www.gov.uk/kidney-problems-and-driving">Kidney problems</a></li>
			 <li><a href="https://www.gov.uk/korsakoffs-syndrome-and-driving">Korsakoff’s syndrome </a></li>
              </ul>
        </div>

            <div id="L" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>L</h2>
           	<ul class="health-list">
			<li><a href="https://www.gov.uk/labyrinthitis-and-driving">Labyrinthitis <li><a href="/learning-difficulties-and-driving">Learning difficulties</a></li>
			<li><a href="https://www.gov.uk/left-bundle-branch-block-and-driving">Left bundle branch block</a></li>
			<li><a href="https://www.gov.uk/leukaemia-and-driving">Leukaemia</a></li>
			<li><a href="https://www.gov.uk/lewy-body-dementia-and-driving">Lewy body dementia</a></li>
			<li><a href="https://www.gov.uk/limb-disability-and-driving">Limb disability</a></li>
			<li><a href="https://www.gov.uk/lumboperitoneal-shunt-and-driving">Lumboperitoneal shunt</a></li>
			<li><a href="https://www.gov.uk/lung-cancer-and-driving">Lung cancer</a></li>
			<li><a href="https://www.gov.uk/lymphoma-and-driving">Lymphoma</a></li>
              </ul>
        </div>

            <div id="M" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>M</h2>
           	<ul class="health-list">
			 <li><a href="https://www.gov.uk/macular-degeneration-and-driving">Macular degeneration</a></li>
				<li><a href="https://www.gov.uk/brain-tumour-and-driving">Malignant brain tumours</a></li>
				<li><a href="https://www.gov.uk/malignant-melanoma-and-driving">Malignant melanoma</a></li>
				<li><a href="https://www.gov.uk/bipolar-disorder-and-driving">Manic depressive psychosis</a></li>
				<li><a href="https://www.gov.uk/marfan-syndrome-and-driving">Marfan syndrome</a></li>
				<li><a href="https://www.gov.uk/medulloblastoma-driving">Medulloblastoma</a></li>
				<li><a href="https://www.gov.uk/severe-memory-problems-and-driving">Memory problems (severe)</a></li>
				<li><a href="https://www.gov.uk/meningioma-and-driving">Meningioma</a></li>
				<li><a href="https://www.gov.uk/transient-ischaemic-attacks-and-driving">Mini-stroke</a></li>
				<li><a href="https://www.gov.uk/monocular-vision-and-driving">Monocular vision</a></li>
				<li><a href="https://www.gov.uk/motor-neurone-disease-and-driving">Motor neurone disease</a></li>
				<li><a href="https://www.gov.uk/multiple-sclerosis-and-driving">Multiple sclerosis</a></li>
				<li><a href="https://www.gov.uk/myasthenia-gravis-and-driving">Myasthenia gravis</a></li>
				<li><a href="https://www.gov.uk/heart-attacks-and-driving">Myocardial infarction/a></li>
				<li><a href="https://www.gov.uk/myoclonus-and-driving">Myoclonus</a></li>
              </ul>
        </div>

            <div id="N" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>N</h2>
           	<ul class="health-list">
			 <li><a href="https://www.gov.uk/narcolepsy-and-driving">Narcolepsy</a></li>
			 <li><a href="https://www.gov.uk/night-blindness-and-driving">Night blindness</a></li>
			 <li><a href="https://www.gov.uk/nystagmus-and-driving">Nystagmus</a></li>
             </ul>
        </div>

            <div id="O" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>O</h2>
           	<ul class="health-list">
				<li><a href="https://www.gov.uk/obsessive-compulsive-disorder-and-driving">Obsessive compulsive disorder</a></li>
				<li><a href="https://www.gov.uk/obstructive-sleep-apnoea-and-driving">Obstructive sleep apnoea syndrome</a></li>
				<li><a href="https://www.gov.uk/optic-atrophy-and-driving">Optic atrophy</a></li>
				<li><a href="https://www.gov.uk/optic-neuritis-and-driving">Optic neuritis</a></li>
              </ul>
        </div>

            <div id="P" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>P</h2>
           	<ul class="health-list">
			 <li><a href="https://www.gov.uk/pacemakers-and-driving">Pacemakers</a></li>
			<li><a href="https://www.gov.uk/heart-palpitations-and-driving">Palpitations</a></li>
			<li><a href="https://www.gov.uk/paranoid-schizophrenia-and-driving">Paranoia</a></li>
			<li><a href="https://www.gov.uk/paranoid-schizophrenia-and-driving">Paranoid schizophrenia</a></li>
			<li><a href="https://www.gov.uk/paraplegia-and-driving">Paraplegia</a></li>
			<li><a href="https://www.gov.uk/parkinsons-disease-and-driving">Parkinson’s disease</a></li>
			<li><a href="https://www.gov.uk/peripheral-arterial-disease-and-driving">Peripheral arterial disease</a></li>
			<li><a href="https://www.gov.uk/peripheral-neuropathy-and-driving">Peripheral neuropathy</a></li>
			<li><a href="https://www.gov.uk/personality-disorder-and-driving">Personality disorder</a></li>
			<li><a href="https://www.gov.uk/petit-mal-and-driving">Petit mal seizures</a></li>
			<li><a href="https://www.gov.uk/pituitary-tumour-and-driving">Pituitary tumour</a></li>
			<li><a href="https://www.gov.uk/post-traumatic-stress-disorder-and-driving">Post traumatic stress disorder (PTSD)</a></li>
			<li><a href="https://www.gov.uk/psychosis-and-driving">Psychosis</a></li>
			<li><a href="https://www.gov.uk/psychotic-depression-and-driving">Psychotic depression</a></li>
              </ul>
        </div>

            <div id="R" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>R</h2>
           	<ul class="health-list">
			 <li><a href="https://www.gov.uk/kidney-dialysis-and-driving">Renal dialysis</a></li>
			 <li><a href="https://www.gov.uk/retinal-treatment-and-driving">Retinal treatment</a></li>
			 <li><a href="https://www.gov.uk/retinopathy-and-driving">Retinopathy</a></li>
              </ul>
        </div>

            <div id="S" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>S</h2>
           	<ul class="health-list">
			 <li><a href="https://www.gov.uk/schizo-affective-disorder-and-driving">Schizo-affective disorder</a></li>
			<li><a href="https://www.gov.uk/schizophrenia-and-driving">Schizophrenia</a></li>
			<li><a href="https://www.gov.uk/scotoma-and-driving">Scotoma</a></li>
			<li><a href="https://www.gov.uk/seizures-and-driving">Seizures</a></li>
			<li><a href="https://www.gov.uk/monocular-vision-and-driving">Sight in one eye only</a></li>
			<li><a href="https://www.gov.uk/obstructive-sleep-apnoea-and-driving">Sleep apnoea</a></li>
			<li><a href="https://www.gov.uk/sleepiness-and-driving">Sleepiness (excessive daytime)</a></li>
			<li><a href="/spinal-problems-driving">Spinal problems and injuries and driving</a></li>
			<li><a href="https://www.gov.uk/stroke-and-driving">Stroke</a></li>
			<li><a href="/https://www.gov.uk/subarachnoid-haemorrhage-and-driving">Subarachnoid haemorrhage</a></li>
			<li><a href="/https://www.gov.uk/blackouts-and-driving">Syncope</a></li>
              </ul>
        </div>

            <div id="T" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>T</h2>
           	<ul class="health-list">
			<li><a href="https://www.gov.uk/tachycardia-and-driving">Tachycardia</a></li>
			<li><a href="https://www.gov.uk/epilepsy-and-driving">Temporal lobe epilepsy</a></li>
			<li><a href="https://www.gov.uk/tourettes-syndrome-and-driving">Tourette’s syndrome</a></li>
			<li><a href="https://www.gov.uk/transient-global-amnesia-and-driving">Transient global amnesia</a></li>
			<li><a href="https://www.gov.uk/transient-ischaemic-attacks-and-driving">Transient ischaemic attack (TIA)</a> </li>
			<li><a href="https://www.gov.uk/tunnel-vision-and-driving">Tunnel vision</a></li>
              </ul>
        </div>

            <div id="U" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>U</h2>
           	<ul class="health-list">
			 <li><a href="https://www.gov.uk/usher-syndrome-and-driving">Usher syndrome</a></li>
              </ul>
        </div>

            <div id="V" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>V</h2>
           	<ul class="health-list">
	           <li><a href="https://www.gov.uk/valve-disease-and-driving">Valve disease or replacement valve</a></li>
				<li><a href="https://www.gov.uk/vertigo-and-driving">Vertigo</a></li>
				<li><a href="https://www.gov.uk/monocular-vision-and-driving">Vision in one eye only</a></li>
				<li><a href="https://www.gov.uk/reduced-visual-acuity-and-driving">Visual acuity (reduced)</a></li>
				<li><a href="https://www.gov.uk/visual-field-defects-and-driving">Visual field defects</a></li>
				<li><a href="https://www.gov.uk/vp-shunts-and-driving">VP shunts</a></li>
              </ul>
        </div>

            <div id="W" class="list">
           	<h2><span class="visuallyhidden">Conditions starting with </span>W</h2>
           	<ul class="health-list">
		<li><a href="https://www.gov.uk/wolff-parkinson-white-syndrome-and-driving">Wolff Parkinson White syndrome</a></li>
        </div>
        </div>
     </div>
	</div>
</div>
<!-- / GRID: FULL WIDTH -->

</div>
<!-- / GRID: QUARTERS -->