
main {
  min-height:700px;
}

h1 {
  max-width:650px;
}

.heading-27 {
  margin-bottom:5px;
}

h1 span {
  @include core-36;
  color: #6f777b;
  display: block;
  margin-bottom:5px;
  padding-top:20px;
}

.govuk .heading-36 {
  margin-bottom:5px;
}

#content.multi-page li a:visited, #content.multi-page .pagination li a:visited, #wrapper.programme .article-container nav a:visited {
  color:#005ea5;
}
