
<!-- PROGRAMME -->

<div class="grid-row">
	<div class="column-two-thirds">
	<%= render partial: 'govuk_component/title', locals: { context: 'Policy', title: @title } %>
	<%= render partial: 'govuk_component/metadata', locals: {
	  :from => [
			"<a href='#'>Department for Transport</a>",
			"<a href='#'>Robert Goodwill MP</a>",
			"<a href='#'>Baroness Kramer</a>",
			"<a href='#'>The Rt Hon Patrick McLoughlin MP</a>",
			"<a href='#'>High speed rail team</a>",
			"<a href='#'>HS2 Growth Taskforce</a>",
			"<a href='#'>High Speed Two (HS2) Limited</a>"
		],
		:part_of => "<a href='#{root_url}policies/railway'>Railway</a>"
	} %>
	</div>
</div>

<div class="grid-row">
	<div class="programme_summary full-width">
		<p>HS2 will link 8 of Britain’s 10 largest cities, increasing capacity and strengthening the economy.</p>
	</div>
</div>
