
<!-- POLICIES -->

<header class="block headings-block">
	<div class="inner-block floated-children">
		<div class="heading-big">
		  <div class="inner-heading">
				<%= render partial: 'govuk_component/title', locals: { title: 'Policies' } %>
		  </div>
		</div>
	</div>
</header>
