
<!-- POLICIES -->

<%= render partial: 'govuk_component/title', locals: { title: 'Policies' } %>

<ul class="policies_list">
	<li><a href="<%= root_url %>policies/benefits-reform">Benefits reform</a></li>
	<li><a href="<%= root_url %>policies/localism">Localism</a></li>
	<li><a href="<%= root_url %>policies/railway">Railway</a></li>
</ul>
