
<!-- POLICY AREA -->

<div class="grid-row">
	<div class="column-two-thirds">
		<%= render partial: 'govuk_component/title', locals: { context: 'Policy', title: @title } %>
		<%= render partial: 'govuk_component/metadata', locals: {
		  :from => [
				"<a href='https://www.gov.uk/government/organisations/department-for-work-pensions'>Department for Work and Pensions</a>",
				"<a href='https://www.gov.uk/government/organisations/home-office'>Home Office</a>",
				"<a href='https://www.gov.uk/government/people/iain-duncan-smith#current-roles'>The Rt Hon Iain Duncan Smith MP</a>"
			],
		  :other => {
		    "Performance data" => "<a href='#'>#{@title} performance</a>"
		  }
		} %>
	</div>

	<div class="column-third">
		<ul class="related_programmes">
			<li><a href="#">-</a></li>
			<li><a href="#">-</a></li>
			<li><a href="<%= root_url %>policies/localism/city-deal">City Deal</a></li>
		</ul>
	</div>
</div>

<div class="grid-row">
	<div class="policy_area_summary full-width">
		<p>TBC</p>
	</div>
</div>
