
<!-- POLICY AREA -->

<div class="grid-row">
	<div class="column-two-thirds">
		<%= render partial: 'govuk_component/title', locals: { context: 'Policy', title: @title } %>
		<%= render partial: 'govuk_component/metadata', locals: {
		  :from => [
				"<a href='https://www.preview.alphagov.co.uk/government/organisations/department-for-communities-and-local-government'>Department for Communities and Local Government</a>",
				"<a href='https://www.preview.alphagov.co.uk/government/ministers/secretary-of-state-for-communities-and-local-government'>The Rt Hon Eric Pickles MP</a>",
				"<a href='https://www.preview.alphagov.co.uk/government/ministers/parliamentary-under-secretary-of-state--17'>Stephen Williams MP</a>"
			]
		} %>

		<p>We want to give community, voluntary and charity groups a bigger say in what happens in their area, including amenities, local services and planning.</p>
	</div>

	<div class="column-third">
		<ul class="related_programmes">
			<li><a href="<%= root_url %>policies/localism/city-deal">City Deal</a></li>
		</ul>
	</div>
</div>

<div class="grid-row">
	<div class="policy_area_summary full-width">
		<p>We want to give community, voluntary and charity groups a bigger say in what happens in their area, including amenities, local services and planning.</p>
	</div>
</div>
